<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> | Profile</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
    <%- include('../../../Component/Header') %>

            <div class="max-w-7xl mx-auto bg-white md:shadow-md md:rounded-lg mb-5 mt-6">
                <div class="main_section py-8 px-4">
                    <section class="article-section">
                        <h2 class="text-2xl mb-5">รายการอนิเมะที่บันทึกไว้</h2>
                        <div class="container mx-auto">
                            <!-- Anime List -->
                            <% if (user.saveanime.length> 0) { %>
                                <div
                                    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 lg:gap-10">
                                    <% user.saveanime.forEach(anime=> { %>
                                        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                                            <% if (anime.poster.startsWith('http')) { %>
                                                <img src="<%= anime.poster %>" alt="<%= anime.title %>" class="w-full">
                                                <% } else { %>
                                                    <img src="/uploads/posters/<%= anime.poster %>" alt="<%= anime.title %>"
                                                        height="400px">
                                                    <% } %>
                                                        <div class="p-4">
                                                            <h2 class="text-lg font-semibold mb-2">
                                                               <a href="/anime/<%= anime.urlslug %>" target="_blank">
                                                                <%= anime.title %>
                                                               </a>
                                                            </h2>
                                                            <p class="text-gray-600 mb-2">ปีที่ฉาย: <%= anime.year %>
                                                            </p>
                                                        </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <% } else { %>
                                    <p>ยังไม่มีรายการอนิเมะที่บันทึก</p>
                                    <% } %>
                        </div>
                    </section>
                </div>
            </div>

            <%- include('../../../Component/Footer') %>

    <script src="/js/script.js  "></script>
    <script src="/js/profile.js"></script>
</body>
</html>