<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body class="bg-blue-50">
    <div class="flex-1 flex flex-col">
        <%- include('../../Component/Header') %>
        <main class="flex-grow p-6">
            <div class="mb-6 mt-4 ">
                <% if (typeof error !== 'undefined') { %>
                    <div class="mb-4 bg-gray-100 rounded-lg p-2 text-red-500 text-center"><%= error %></div>
                <% } %>
                <% if (typeof message !== 'undefined') { %>
                    <div class="mb-4 bg-gray-100 rounded-lg p-2 text-emerald-500 text-center"><%= message %></div>
                <% } %>
            </div>
            <header class="mb-6 bg-black p-4">
                <h1 class="text-2xl font-bold text-white">จัดการผู้ดูแลระบบ</h1>
                <p class="text-gray-400">จัดการผู้ดูแลระบบและบทบาทของพวกเขา</p>
                <nav class="bg-gray-800 p-4">
                    <ul class="flex flex-wrap space-x-5 gap-4 mt-4">
                        <li>
                            <a href="/admin/add/anime" class="text-white hover:text-gray-400 transition duration-300">เพิ่มอนิเมะ</a>
                        </li>
                        <li>
                            <a href="/admin/manage/anime" class="text-white hover:text-gray-400 transition duration-300">จัดการอนิเมะ</a>
                        </li>
                        <li>
                            <a href="/admin/add/Reward" class="text-white hover:text-gray-400 transition duration-300">เพิ่มรางวัลสำหรับรหัสแลกรับ</a>
                        </li>
                        <li>
                            <a href="/admin/mamage/rewards" class="text-white hover:text-gray-400 transition duration-300">จัดการรหัสแลกรับ</a>
                        </li>
                        <li>
                            <a href="/admin/manage/playments" class="text-white hover:text-gray-400 transition duration-300">จัดการการชำระเงิน</a>
                        </li>
                        <li>
                            <a href="/admin/manage/survey" class="text-white hover:text-gray-400 transition duration-300">จัดการแบบสำรวจ</a>
                        </li>
                        <li>
                            <a href="/admin/create/survey" class="text-white hover:text-gray-400 transition duration-300">สร้างแบบสำรวจ</a>
                        </li>
                        <li>
                            <a href="/admin/manage/videos" class="text-white hover:text-gray-400 transition duration-300">จัดการวีดีโอ</a>
                        </li>
                        <li>
                            <a href="/upload/pv/anime" class="text-white hover:text-gray-400 transition duration-300">สร้างวีดีโอ</a>
                        </li>
                        <li>
                            <a href="/admin/generate-api-key" class="text-white hover:text-gray-400 transition duration-300">สร้าง API KEY</a>
                        </li>
                        <li>
                            <a href="/admin/manage/apikey" class="text-white hover:text-gray-400 transition duration-300">จัดการ API KEY</a>
                        </li>
                        <li>
                            <a href="/admin/edit/actor" class="text-white hover:text-gray-400 transition duration-300">แก้ไขตัวละครและนักพากย์</a>
                        </li>
                    </ul>
                </nav>
                
            </header>
            

            <!-- Add New Admin -->
            <section class="mb-6">
                <% if (userID && userID.user && userID.user.role === 'admin') {%>
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="text-xl font-bold text-gray-800">เพิ่มผู้ดูแลระบบใหม่</h2>
                    </div>
                <% if (users && users.length > 0) { %>
                    <form action="/admin/update-role" method="POST" class="mt-6 bg-white p-6 rounded-lg shadow-md">
                       <div class="mb-4">
                        <label for="userIdToUpdate" class="block text-gray-700 font-semibold">เลือกผู้ใช้เพื่ออัพเดตบทบาท</label>
                        <input type="search" id="searchUser" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="ค้นหา..." oninput="filterOptions()">
                        <select id="userIdToUpdate" name="userIdToUpdate" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option disabled selected>เลือก</option>
                            <% if (users && users.length > 0) { %>
                                <% users.forEach(user => { %>
                                    <option value="<%= user._id %>" data-username="<%= user.username %>" data-email="<%= user.email %>">
                                        <%= user.username %> - <%= user.email %>
                                    </option>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                        <div class="mb-4">
                            <label for="newRole" class="block text-gray-700 font-semibold">บทบาทใหม่</label>
                            <select id="newRole" name="newRole" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="content_creator">Editor || ครีเอเตอร์</option>
                                <option value="partners">Partners || พาร์ทเนอร์</option>
                                <option value="admin">ผู้ดูแลระดับนักพัฒนา</option>
                                <option value="moderator">ผู้ดูแลพื้นฐาน</option>
                            </select>
                        </div>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">อัพเดตบทบาท</button>
                    </form>
                    
                <% } %>
              <% } %>
            </section>

            <!-- Admins List -->
            <section>
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-bold text-gray-800">รายการผู้ดูแลระบบ</h2>
                </div>
                <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                    <thead class="bg-gray-100 text-gray-600">
                        <tr>
                            <th class="py-2 px-4 border-b">#</th>
                            <th class="py-2 px-4 border-b">ชื่อ</th>
                            <th class="py-2 px-4 border-b">อีเมล</th>
                            <th class="py-2 px-4 border-b">บทบาท</th>
                            <!-- <th class="py-2 px-4 border-b">การกระทำ</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% if (admins && admins.length > 0) { %>
                            <% admins.forEach((admin, index) => { %>
                                <tr>
                                    <td class="py-2 px-4 border-b text-center"><%= index + 1 %></td>
                                    <td class="py-2 px-4 border-b"><%= admin.username %></td>
                                    <td class="py-2 px-4 border-b"><%= admin.email %></td>
                                    <td class="py-2 px-4 border-b text-center"><%= admin.role.charAt(0).toUpperCase() + admin.role.slice(1) %></td>
                                    <!-- <td class="py-2 px-4 border-b text-center">
                                        <button class="text-blue-500 hover:text-blue-700">แก้ไข</button>
                                        <button class="text-red-500 hover:text-red-700 ml-2">ลบ</button>
                                    </td> -->
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="5" class="py-2 px-4 border-b text-center">ไม่มีผู้ดูแลระบบ</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <!-- <script src="/js/script.js"></script> -->
    <script src="https://www.ani-night.online/js/script.js"></script>
    <!-- <script src="/js/admin/search.js"></script> -->
    <script src="https://www.ani-night.online/js/admin/search.js"></script>
</body>
</html>
