<% if (post.published) { %>
    <a href="/read/<%= post.urlslug %>" class="block">
        <div class="relative aspect-w-16 aspect-h-9">
            <% let thumbnail = post.thumbnail.startsWith('http') ? post.thumbnail : '/uploads/thumbnails/' + (post.thumbnail  || 'default.png'); %>
            <picture class="lazyload w-full h-auto object-cover rounded-lg">
                <img class="lazyload rounded-lg" data-src="<%= thumbnail %>" alt="<%= post.title %>" src="placeholder.jpg" loading="lazy" />
            </picture>
        </div>
        
        <div class="flex items-center mt-2 p-4">
            <% if (post.creator && post.creator.profilePicture) { %>
                <% let profilePic = post.creator.profilePicture.startsWith('http') ? post.creator.profilePicture : '/uploads/profiles/' + (post.creator.profilePicture || 'default.png'); %>
                <img src="<%= profilePic %>" alt="Profile Picture" class="hidden md:block w-10 h-10 rounded-full object-cover">
                <div class="md:ml-3 md:flex-1">
                    <h2 class="text-sm font-semibold text-black line-clamp-1 md:line-clamp-2" title="<%= post.title %>">
                        <%= post.title %>
                    </h2>
                    <p class="text-xs text-secondary-color">
                        <%= post.creator.id.username %>
                        <% if (post.creator.id.role  === 'admin') { %>
                            <i class="fas fa-check-circle ml-2 text-green-500" title="Admin"></i>
                        <% } %>
                    </p>
                    <p class="text-xs text-secondary-color">การดู <%= formatNumber(post.views) %> วิว •
                        <%= moment(post.createdAt).locale('th').fromNow() %>
                    </p>
                </div>
            <% } else { %>
                <p class="text-gray-600 text-sm">โพสต์นี้ไม่มีผู้สร้าง</p>
            <% } %>
            
        </div>
    </a>

<% } %>