<% if (post.published || new Date(post.scheduledAt) <= Date.now()) { %>
    <a href="/read/<%= post.urlslug %>" class="block">
        <div class="relative aspect-w-16 aspect-h-9">
            <img src="/uploads/thumbnails/<%= post.thumbnail %>" alt="<%= post.title %>"
                class="w-full object-cover rounded-lg">
            <!-- <span
                class="absolute bottom-2 right-2 bg-overlay-dark-color text-white text-sm px-2 py-1 rounded">10:03</span> -->
        </div>
        <% if (post.creator && post.creator.id) { %>
            <div class="flex items-center mt-2">
                <img src="/uploads/profiles/<%= post.creator.id.profilePicture %>"
                    alt="<%= post.creator.username %>" class="w-9 h-9 rounded-full">
                <div class="ml-3">
                    <h2 class="text-sm font-semibold text-black-color dark:text-black-color line-clamp-2">
                        <%= post.title %>
                    </h2>
                    <p class="text-xs text-secondary-color" data-link="/editor/<%= post.creator.username %>">
                        <%= post.creator.username %>
                    </p>
                    <p class="text-xs text-secondary-color">การดู <%= formatNumber(post.views) %> วิว •
                        <%= moment(post.createdAt).locale('th').fromNow() %>
                    </p>
                </div>
            </div>
        <% } %>
    </a>

    
        <% if ((index + 1) % 4 === 0) { %>
            <div class="overflow-hidden ">
                <div class="grid gap-1 md:gap-4 lg:gap-2">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                    crossorigin="anonymous"></script>
               <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-6579807593228261"
                    data-ad-slot="1326857324"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
                </div>
            </div>
        <% } %>


        <% if ((index + 1) % 7 === 0) { %>
            <div class="overflow-hidden ">
                <div class="grid gap-1 md:gap-4 lg:gap-2">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                    crossorigin="anonymous"></script>
               <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-6579807593228261"
                    data-ad-slot="1326857324"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
                </div>
            </div>
        <% } %>
<% } %>


                <script>
                    // Select all elements with data-link attribute
                    const linkElements = document.querySelectorAll('[data-link]');

                    // Add click event listener to each element
                    linkElements.forEach(element => {
                        element.addEventListener('click', () => {
                            const link = element.dataset.link; // Get the link from data-link attribute
                            window.location.href = link; // Redirect to the new link
                        });
                    });

                </script>