<!--  <a href="/survey/reward" class="text-black px-5 py-2 hover:bg-gray-100 hover:text-sky-500 block">แบบสำรวจ</a>
        <a href="/reward/withdraws" class="text-black px-5 py-2 hover:bg-gray-100 hover:text-sky-500 block">แลกรางวัล</a>  -->

<style>
    .sidebarlet::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        background-color: #f6f6f6;
        /* สีพื้นหลังของสกอบาร์ */
        border-radius: 10px;
    }

    .sidebarlet::-webkit-scrollbar-thumb {
        width: 8px;
        height: 6px;
        background-color: #888;
        /* สีของแถบเลื่อน */
        border-radius: 10px;
    }
</style>

<div class="sidebarlet w-16 md:w-64 h-screen md:p-3 flex flex-col items-center overflow-auto"
    style="background-color: rgb(218, 230, 238);">
    <div class="logo mb-4">
        <a href="/">
            <img src="/annight/logo_mini.png" alt="logo_mini"
                class="w-full h-12 md:h-16 object-cover select-none pointer-events-none">
            <h2 class="hidden md:block text-xl font-bold">AniNight</h2>
            <p class="text-sm text-red-600 text-center">Beta</p>
            <p class="hidden mb:block text-red-600 text-center">เวอร์ชั่นทดลอง</p>
        </a>
    </div>
    <ul class="menu w-full p-0 m-0">
        <li class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer 
            <%= active === 'Home' ? 'bg-blue-300' : '' %>">
            <a href="/" class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                <i class='bx bx-home-alt-2 text-2xl'></i>
                <span class="hidden md:block md:px-5">หน้าหลัก</span>
            </a>
        </li>

        <li class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer 
            <%= active === 'ScheduleAnime' ? 'bg-blue-300' : '' %>">
            <a href="/schedule/anime"
                class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                <i class='bx bx-tv text-2xl '></i>
                <span class="hidden md:block md:px-5">ตารางอนิเมะ</span>
            </a>
        </li>

        <li class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer 
            <%= active === 'foryou' ? 'bg-blue-300' : '' %>">
            <a href="/foryou?recomment=0&i-0&sortBy=views"
                class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                <img src="/icons/foyyou_icon.svg" alt="foyyou_icon" class="text-2xl w-7 h-7">
                <span class="hidden md:block md:px-5">สำหรับคุณ</span>
            </a>
        </li>

        <li class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer 
            <%= active === 'Memes' ? 'bg-blue-300' : '' %>">
            <a href="/memes" class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                <i class='bx bx-bulb text-2xl'></i>
                <span class="hidden md:block md:px-5">มีม</span>
            </a>
        </li>

        <li class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer
            <%= active === 'creatememe' ? 'bg-blue-300' : '' %>">
            <a href="/create/meme/new"
                class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                <i class='bx bx-upload text-2xl text-center'></i>
                <span class="hidden md:block md:px-5">โพสต์มีม</span>
            </a>
        </li>

        <% if (!userID) {%>
            <li
                class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] bg-black cursor-pointer">
                <a href="/auth/login"
                    class="active flex items-center text-center text-white md:pl-5 md:w-full md:h-full">
                    <i class='bx bx-log-in text-2xl text-center'></i>
                    <span class="hidden md:block md:px-5">เข้าสู่ระบบ</span>
                </a>
            </li>
            <% } else {%>
                <li
                    class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer
                    <%= active === 'profile' ? 'bg-blue-300' : '' %>">
                    <a href="/<%= userID.user.username %>"
                        class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                        <i class='bx bxs-user text-2xl text-center'></i>
                        <span class="hidden md:block md:px-5">โปรไฟล์</span>
                    </a>
                </li>
                <li
                    class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer
                    <%= active === 'CreateArticle' ? 'bg-blue-300' : '' %>">
                    <a href="/uploads/create/article"
                        class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                        <i class='bx bx-highlight text-2xl text-center'></i>
                        <span class="hidden md:block md:px-5">เขียนบทความ</span>
                    </a>
                </li>
                <li
                    class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer
                    <%= active === 'topcoin' ? 'bg-blue-300' : '' %>">
                    <a href="/top/coin"
                        class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                        <i class='bx bxs-coin text-2xl text-center'></i>
                        <span class="hidden md:block md:px-5">เติมเงิน</span>
                    </a>
                </li>
                <% if (userID.user.role==='content_creator' || userID.user.username==='pino2004' ) {%>
                    <li
                        class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer">
                        <a href="/dashboard"
                            class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                            <i class='bx bxs-grid-alt text-2xl text-center'></i>
                            <span class="hidden md:block md:px-5">จัดการเนื้อหา</span>
                        </a>
                    </li>
                    <% } %>
                        <% if (userID.user.role==='admin' ) { %>
                            <li
                                class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] hover:bg-blue-300 cursor-pointer">
                                <a href="/admin"
                                    class="active flex items-center text-center text-black md:pl-5 md:w-full md:h-full">
                                    <i class='bx bxs-user-plus text-2xl text-center'></i>
                                    <span class="hidden md:block md:px-5">เข้าสู่ผู้ดูแล</span>
                                </a>
                            </li>
                            <% } %>
                                <form id="logoutForm" action="/api/v2/logout" method="post">
                                    <li
                                        class="item flex m-2 md:m-0 py-1 px-3 rounded-lg md:py-2 md:my-2 items-center md:w-full md:h-[40px] bg-red-500 cursor-pointer">
                                        <a href="#"
                                            class="active flex items-center text-center text-white md:pl-5 md:w-full md:h-full">
                                            <i class='bx bx-log-out text-2xl text-center pr-5'></i>
                                            <button type="submit" onclick="logout(event)">ออกจากระบบ</button>
                                        </a>
                                    </li>
                                </form>
                                <% } %>
    </ul>
    <div class="footer flex gap-1 flex-wrap p-2 ">
        <p class="font-medium text-black text-sm hidden md:block"><i class="fa-regular fa-copyright"></i> 2024 AniNight
            |</p>
        <p class="font-medium text-black text-sm hidden md:block"><a
                href="https://web.facebook.com/AniNightOffice.net">ติดต่อเรา</a>
        </p>
        <p class="font-medium text-black text-sm hidden md:block"><a href="/term#OurPolicy">นโยบายของเรา</a></p>
        <p class="font-medium text-black text-sm hidden md:block"><a href="/term#Privacy">ความเป็นส่วนตัว</a></p>
        <p class="font-medium text-black text-sm hidden md:block"><a href="#">กฏการใช้งาน</a></p>

        <p class="font-normal text-sm text-gray-500 hidden md:block">
            Provided by NPatPublisher
        </p>
    </div>
</div>

<script src="/js/profile.js"></script>