<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จัดการผู้ใช้</title>
    <!-- CSS & JS -->
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/css/tailwindcss.css"></script>
    <script src="/js/fontawesome.js" defer></script>
</head>

<body>
    <div class="flex flex-col h-screen">
        <%- include('../Component/Header') %>

            <div class="flex flex-1 overflow-hidden">
                <aside id="aside"
                    class="bg-white w-64 h-full fixed lg:relative transform -translate-x-full lg:translate-x-0 transition-transform z-50">
                    <%- include('../Component/aside') %>
                </aside>

                <main id="mainContent" class="flex-1 p-4 overflow-y-auto bg-gray-50 transition-all">
                    <h3 class="text-2xl font-extralight mb-3">จัดการผู้ใช้ทั้งหมด</h3> 
                    <div class="mb-4">
                        <input type="text" id="search" placeholder="ค้นหาผู้ใช้ด้วย id ..." class="w-full px-4 py-2 border border-gray-300 rounded-md outline-none">
                    </div>

                    <div class="overflow-x-auto rounded-lg">
                        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                            <thead class="bg-gray-100 text-gray-600">
                                <tr class="text-black">
                                    <th class="py-2 px-4 border-b text-sm ">userID</th>
                                    <th class="py-2 px-4 border-b text-sm ">ชื่อผู้ใช้</th>
                                    <th class="py-2 px-4 border-b text-sm ">อีเมล</th>
                                    <th class="py-2 px-4 border-b text-sm ">หน้าที่</th>
                                    <th class="py-2 px-4 border-b text-sm ">Profile</th>
                                    <th class="py-2 px-4 border-b text-sm ">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody id="users-lists">
                                <% if (userDatas && userDatas.length> 0) { %>
                                    <% userDatas.forEach((user, index)=> { %>
                                        <tr class="text-black">
                                            <td class="py-2 px-4 border-b">
                                                <%= user._id %>
                                            </td>
                                            <td class="py-2 px-4 border-b">
                                                <%= user.username %>
                                            </td>
                                            <td class="py-2 px-4 border-b">
                                                <%= user.email %>
                                            </td>
                                            <td class="py-2 px-4 border-b">
                                                <% 
                                                    let role = user.role.charAt(0).toUpperCase() + user.role.slice(1); 
                                                    if (user.role === 'content_creator') { 
                                                        role = 'ครีเอเตอร์'; 
                                                    } else if (user.role === 'partners') { 
                                                        role = 'ผู้ใช้แบบชำระเงิน'; 
                                                    } else if (user.role === 'user') { 
                                                        role = 'ผู้ใช้ทั่วไป'; 
                                                    } else if (user.role === 'admin') { 
                                                        role = 'ผู้ดูแลระบบนักพัฒนา'; 
                                                    } else if (user.role === 'moderator') { 
                                                        role = 'ผู้ช่วยนักพัฒนา'; 
                                                    }
                                                %>
                                                <%= role %>
                                            </td>
                                            <td class="py-2 px-4 border-b">
                                                <% if (user.profilePicture && user.profilePicture.startsWith('http')) { %>
                                                    <img src="<%= user.profilePicture %>" alt="Profile Picture"   class="w-24 h-24 rounded-full border-4 border-white shadow-lg">
                                                <% } else { %>
                                                    <% if (user.profilePicture) { %>
                                                        <img src="/uploads/profiles/<%= user.profilePicture %>" alt="Profile Picture" class="w-24 h-24 rounded-full border-4 border-white shadow-lg">
                                                    <% } else { %>
                                                        <img src="https://pics.craiyon.com/2023-10-25/b65f72d6d11a48c1bc560059cc36e31f.webp" alt="Profile Picture"  class="w-24 h-24 rounded-full border-4 border-white shadow-lg">
                                                    <% } %>
                                                <% } %>  
                                            </td>
                                            <td class="py-2 px-4 border-b text-center relative">
                                                <button id="button_<%= user._id %>"
                                                    onclick="event.stopPropagation(); toggleMenu('<%= user._id %>')"
                                                    class="text-gray-600 hover:text-gray-800 focus:outline-none">
                                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                                                        <path
                                                            d="M10 6a2 2 0 110-4 2 2 0 010 4zm0 6a2 2 0 110-4 2 2 0 010 4zm0 6a2 2 0 110-4 2 2 0 010 4z" />
                                                    </svg>
                                                </button>

                                                <div id="menu_<%= user._id %>"
                                                    class="dropdown-menu hidden absolute right-28 top-1 mt-2 w-28 bg-white border border-gray-200 rounded-md shadow-lg z-10">
                                                    <a href="/admin/edit/user/<%= user._id %>"
                                                        class="block px-4 py-2 text-sm text-blue-500 hover:bg-blue-100">
                                                        แก้ไข
                                                    </a>
                                                    <a class="block text-red-500 px-4 py-2 hover:bg-red-100 cursor-pointer"
                                                        onclick="deletearticle(event, '<%= user._id %>')" type="button">
                                                        ลบ
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="6" class="py-2 px-4 border-b text-center">ไม่มีบทความ
                                                    </td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
    </div>

    <script src="/js/admin/index.js"></script>
    <script>
        function toggleMenu(userID) {
            // ปิดเมนูอื่นๆ ก่อนเปิดเมนูที่เลือก
            document.querySelectorAll('.dropdown-menu').forEach(menu => {
                if (menu.id !== `menu_${userID}`) {
                    menu.classList.add('hidden');
                }
            });

            const menu = document.getElementById(`menu_${userID}`);
            menu.classList.toggle('hidden');

            // ตรวจสอบการคลิกนอกเมนู
            document.addEventListener('click', function handleClickOutside(event) {
                if (!menu.contains(event.target) && event.target.id !== `button_${userID}`) {
                    menu.classList.add('hidden');
                    document.removeEventListener('click', handleClickOutside);
                }
            });
        }
    </script>
     <script>
       document.getElementById('search').addEventListener('input', function () {
    const searchQuery = this.value.toLowerCase();
    const animeList = document.getElementById('users-lists').getElementsByTagName('tr');

    for (let i = 0; i < animeList.length; i++) {
        const cells = animeList[i].getElementsByTagName('td');
        if (cells.length > 1) { // ตรวจสอบว่ามีข้อมูลในแถว
            const animeName = cells[1].textContent.toLowerCase();
            if (animeName.includes(searchQuery)) {
                animeList[i].style.display = '';
            } else {
                animeList[i].style.display = 'none';
            }
        }
    }
});

    </script>
</body>

</html>