<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flex-1 flex flex-col">
        <%- include('../../Component/Header') %>

         <!-- Main Content -->
         <main class="mx-auto mt-10 p-8 bg-white rounded-lg sm:shadow-lg w-full max-w-lg">
            <div class="text-center">
                <i class="fas fa-times-circle text-red-500 text-6xl"></i>
                <h1 class="text-2xl font-semibold mt-4 text-gray-800">การชำระเงินถูกยกเลิก</h1>
                <p class="mt-2 text-gray-600">การชำระเงินของคุณถูกยกเลิกแล้ว หากนี่เป็นข้อผิดพลาด โปรดลองอีกครั้ง</p>
                <!-- <p>รายละเอียด : <%= payment ? JSON.stringify(payment) : "ไม่มีข้อมูลการชำระเงิน" %></p> -->
                <strong>สถานะ: <%= payment.paymentStatus %></strong>
                <strong>จำนวนเงิน: <%= payment.amount %> บาท</strong>
                <strong>อีเมล: <%= payment.email %> </strong>
                <a href="/" class="mt-6 inline-block px-6 py-3 bg-blue-500 text-white text-lg font-medium rounded-lg shadow hover:bg-blue-600">กลับหน้าหลัก</a>
            </div>
        </main>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>