<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniNight — อนิไนท์</title>
    <meta name="title" content="Meta Tags — Preview, Edit and Generate" />
    <meta name="description"
        content="พบกับเว็บที่คุณสร้างสรรค์ผมลานข่าว บทความอนิเมะของคุณ ขอแค่คุณมีความคิดสร้างสรรค์คุณสามารถสร้างรายได้จาดเครื่องมือสร้างรายได้ของเรา !" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ani-night.online" />
    <meta property="og:title" content="AniNight — อนิไนท์" />
    <meta property="og:description" content="พบกับเว็บที่คุณสร้างสรรค์ผมลานข่าว บทความอนิเมะของคุณ ขอแค่คุณมีความคิดสร้างสรรค์คุณสามารถสร้างรายได้จาดเครื่องมือสร้างรายได้ของเรา !" />
    <meta property="og:image" content="hhttps://www.ani-night.online/seo/images" />


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.ani-night.online" />
    <meta property="twitter:title" content="AniNight — อนิไนท์" />
    <meta property="twitter:description" content="พบกับเว็บที่คุณสร้างสรรค์ผมลานข่าว บทความอนิเมะของคุณ ขอแค่คุณมีความคิดสร้างสรรค์คุณสามารถสร้างรายได้จาดเครื่องมือสร้างรายได้ของเรา !" />
    <meta property="twitter:image" content="hhttps://www.ani-night.online/seo/image" />

    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
    crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LTJP520FN4');
    </script>
</head>
<body>
    <%- include('./Component/Sidebar') %>
    <%- include('./Component/Header') %>

        <main class="max-w-3xl sm:max-w-4xl md:max-w-5xl lg:max-w-7xl mx-auto mt-3">
            <div class="mb-6 mt-4">
                <% if (typeof error !== 'undefined') { %>
                    <div class="mb-4 bg-gray-100 rounded-lg p-2 text-emerald-500 text-center"><%= error %></div>
                <% } %>
            </div>
            <div
                class="ads-container my-8 p-4 bg-gray-50 rounded-lg shadow-md border border-gray-200 aspect-w-16 aspect-h-9">
                <!-- Ads Home -->
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                    crossorigin="anonymous"></script>
                <!-- Ani Night -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6579807593228261" data-ad-slot="9626337250"
                    data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <!-- NEXT SESTION -->
        <div class="bg-white shadow">
            <h3 class="text-2xl font-medium pl-5 mb-5 mt-6">อนิเมะ season หน้า ที่กำลังจะมาถึง เช็คเลย !!</h3>
            <div class="flex items-center justify-between -md p-4 mb-5">
                <!-- Left Scroll Button -->
                <button id="scroll-left" class="p-2 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
        
                <div class="flex space-x-2 overflow-x-auto scrollbar-hide" id="anime-list-nextseason">
                    <!-- <div class="anime-card bg-white shadow rounded overflow-hidden w-[200px] h-[400px]">
                                <picture class="relative">
                                    <a href="/anime/">
                                        <img width="400px" height="600px" src="" alt="title">
                                    </a>
                                    <span class="absolute top-0 left-0 bg-sky-400 rounded text-white px-3">2024</span>
                                    <streeming class="absolute bottom-1 left-1 flex gap-2 select-none pointer-events-none items-center">
                                        <img src="/logo/crunchyroll_icon.png" alt="crunchyroll"
                                            class="w-7 h-7 pointer-events-none rounded-full">
                                        <img src="/logo/bilibili-icon.png" alt="bilibili" class="w-7 h-7 pointer-events-none rounded-full">
                                        <img src="/logo/iqiyi_icon.png" alt="iqiyi" class="w-7 h-7 pointer-events-none rounded-full">
                                    </streeming>
                                </picture>
                                <div class="p-4">
                                    <h3 class="text-lg font-semibold">
                                        <a href="/anime/">
                                            Lorem, ipsum.
                                        </a>
                                    </h3>
                                    <p class="text-gray-600 text-sm">
                                        เสียงพากย์> • [หมวดหมู่]
                                    </p>
                        
                                </div>
                            </div> -->
                </div>
        
        
                <!-- Right Scroll Button -->
                <button id="scroll-right" class="p-2 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
        </div>

            <div id="loading-content" class="loading-content flex justify-center mt-5 mb-6" style="display: none;">
                <div class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="50" height="50" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <circle stroke-dasharray="169.64600329384882 58.548667764616276" r="36" stroke-width="3" stroke="#5bbfe1" fill="none" cy="50" cx="50">
                                <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="0.6211180124223602s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
                            </circle>
                        </g>
                    </svg>
                    <span>กำลังโหลดเนื้อหา.....</span>
                </div>
            </div>
            <h3 class="text-2xl font-medium border-l-4 border-sky-500 pl-5 mb-5 mt-6">มาใหม่</h3>
            <div id="main-content">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
                    <% if (Posts.length > 0) { %>
                        <% Posts.forEach(post => { %>
                            <% if (post.published) { %>
                                <article class="bg-white shadow-lg md:rounded-lg overflow-hidden">
                                    <a href="/read/<%= post.urlslug %>">
                                        <img src="/uploads/thumbnails/<%= post.thumbnail %>" alt="<%= post.title %>" class="w-full h-60 object-cover md:h-48">
                                    </a>
                                    <div class="p-6 md:col-span-1">
                                        <h1 class="text-2xl font-semibold text-gray-900 mb-4">
                                            <a href="/read/<%= post.urlslug %>" class="hover:text-blue-500"><%= post.title %></a>
                                        </h1>
                                        <% if (post.creator && post.creator.id) { %>
                                            <div class="flex items-center space-x-4">
                                                <img src="/uploads/profiles/<%= post.creator.id.profilePicture %>" alt="<%= post.creator.username %>" class="w-12 h-12 rounded-full border border-gray-300">
                                                <p class="text-gray-700"><%= post.creator.username %></p>
                                            </div>
                                        <% } %>
                                    </div>
                                </article>
                            <% } %>
                        <% }) %>  
                        <% } else { %>
                        <p>ยังไม่ได้เขียนบทความ</p>
                        <% } %>
                </div>
                
                <h3 class="text-2xl font-medium border-l-4 border-sky-500 pl-5 mb-5 mt-6">แนะนำบทความที่มาแรงจาก 5 รายการ</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
                <p class="text-gray-300">ยังไม่ได้เชื่อมต่อข้อมูล</p>
                <!-- <article class="bg-white shadow-lg md:rounded-lg overflow-hidden">
                    <a href="#">
                        <img src="https://ani-night.online/ArticlesImages_mord/ecde10b5-9545-4109-bf50-d7c4e9992bb6.jpg" alt="article title" class="w-full h-60 object-cover md:h-48">
                    </a>
                    <div class="p-6 md:col-span-1">
                        <h1 class="text-2xl font-semibold text-gray-900 mb-4"><a href="#" class="hover:text-blue-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, vero?</a></h1>
                        <div class="flex items-center space-x-4">
                            <img src="" alt="profile-user" class="w-12 h-12 rounded-full border border-gray-300">
                            <p class="text-gray-700">User</p>
                        </div>
                    </div>
                </article> -->
            </div>
            </div>

            
        </main>


    <script src="/js/script.js"></script>
    <script src="/js/nextseason.js"></script>
    <script>
        const scrollContainer = document.getElementById('category-container');
        const scrollLeft = document.getElementById('scroll-left');
        const scrollRight = document.getElementById('scroll-right');

        scrollLeft.addEventListener('click', () => {
            scrollContainer.scrollBy({
                left: -200,
                behavior: 'smooth'
            });
        });

        scrollRight.addEventListener('click', () => {
            scrollContainer.scrollBy({
                left: 200,
                behavior: 'smooth'
            });
        });
    </script>
</body>
</html>