
<header class="bg-white shadow-md border-b border-gray-200 sticky max-w-full top-0 w-full z-10">
    <div class="px-4 flex items-center justify-between">
        <!-- Logo left -->
        <div class="flex items-center space-x-4">
            <!-- Toggle Sidebar Button -->
            <button id="toggleSidebar">
                <svg class="h-6 w-6 text-gray-600 hover:text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
            <div class="overflow-hidden">
                <a href="/"  class="text-blue-500 text-2xl font-bold flex items-center overflow-hidden">
                    <img src="/annight/logo_mini.png" alt="logo_mini" class="w-full h-12 md:h-16 object-cover select-none pointer-events-none">
                    <h3>AniNight</h3>
                </a>
            </div>
            <!-- Navigation Links -->
            <nav class="hidden md:hidden lg:flex">
                <a href="/" class="text-gray-600 text-md md:text-text-1xl px-5">หน้าหลัก</a>
                <a href="/<%= lang %>/foryou?recomment=0&i-0&sortBy=views" class="text-gray-600 text-md md:text-text-1xl  px-5">สำหรับคุณ</a>
                <a href="/<%= lang %>/schedule/anime" class="text-gray-600 text-md md:text-text-1xl  px-5">ตารางอนิเมะ</a>
                <div class="relative group">
                    <a href="#" class="text-gray-600 text-md md:text-text-1xl  px-5">เพิ่มเติม</a>
                    <div class="absolute right-1 transform hidden group-hover:block w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                        <div class="flex flex-col">
                            <a href="/<%= lang %>/uploads/create/article" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">เขียนบทความ</a>
                            <a href="/survey/reward" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">การสำรวจ</a>
                            <% if (userID) {%>
                            <a href="/<%= lang %>/<%= userID.user.username %>" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">โปรไฟล์ของคุณ   </a>
                            <a href="/top/coin" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">เติมเงิน</a>
                            <% if (userID.user.role === 'content_creator' || userID.user.username === 'Night') { %>
                                <a href="/<%= lang %>/dashboard" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">จัดการเนื้อหา</a>
                            <% } %>
                            <% if (userID.user.role === 'admin' || userID.user.role === 'moderator' || userID.user.username === 'Night') { %>
                                <a href="/admin" class="text-gray-600 text-md md:text-text-1xl px-5 py-3 hover:bg-gray-100 rounded">เข้าสู่ผู้ดูแล</a>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Icons right -->
        <div class="flex items-center space-x-4">
            <!-- <button >
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button> -->
           
            <% if (userID) {%>
            <div class="relative group hidden md:block">
                <% if (userID.user.profilePicture) { %>
                    <% if (userID.user.profilePicture.startsWith('http')) { %>
                        <img src="<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } else { %>
                        <img src="/uploads/profiles/<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } %>
                <% } else { %>
                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 12C22 6.49 17.51 2 12 2C6.49 2 2 6.49 2 12C2 14.9 3.25 17.51 5.23 19.34C5.23 19.35 5.23 19.35 5.22 19.36C5.32 19.46 5.44 19.54 5.54 19.63C5.6 19.68 5.65 19.73 5.71 19.77C5.89 19.92 6.09 20.06 6.28 20.2C6.35 20.25 6.41 20.29 6.48 20.34C6.67 20.47 6.87 20.59 7.08 20.7C7.15 20.74 7.23 20.79 7.3 20.83C7.5 20.94 7.71 21.04 7.93 21.13C8.01 21.17 8.09 21.21 8.17 21.24C8.39 21.33 8.61 21.41 8.83 21.48C8.91 21.51 8.99 21.54 9.07 21.56C9.31 21.63 9.55 21.69 9.79 21.75C9.86 21.77 9.93 21.79 10.01 21.8C10.29 21.86 10.57 21.9 10.86 21.93C10.9 21.93 10.94 21.94 10.98 21.95C11.32 21.98 11.66 22 12 22C12.34 22 12.68 21.98 13.01 21.95C13.05 21.95 13.09 21.94 13.13 21.93C13.42 21.9 13.7 21.86 13.98 21.8C14.05 21.79 14.12 21.76 14.2 21.75C14.44 21.69 14.69 21.64 14.92 21.56C15 21.53 15.08 21.5 15.16 21.48C15.38 21.4 15.61 21.33 15.82 21.24C15.9 21.21 15.98 21.17 16.06 21.13C16.27 21.04 16.48 20.94 16.69 20.83C16.77 20.79 16.84 20.74 16.91 20.7C17.11 20.58 17.31 20.47 17.51 20.34C17.58 20.3 17.64 20.25 17.71 20.2C17.91 20.06 18.1 19.92 18.28 19.77C18.34 19.72 18.39 19.67 18.45 19.63C18.56 19.54 18.67 19.45 18.77 19.36C18.77 19.35 18.77 19.35 18.76 19.34C20.75 17.51 22 14.9 22 12ZM16.94 16.97C14.23 15.15 9.79 15.15 7.06 16.97C6.62 17.26 6.26 17.6 5.96 17.97C4.44 16.43 3.5 14.32 3.5 12C3.5 7.31 7.31 3.5 12 3.5C16.69 3.5 20.5 7.31 20.5 12C20.5 14.32 19.56 16.43 18.04 17.97C17.75 17.6 17.38 17.26 16.94 16.97Z"
                            fill="#292D32" />
                        <path
                            d="M12 6.92969C9.93 6.92969 8.25 8.60969 8.25 10.6797C8.25 12.7097 9.84 14.3597 11.95 14.4197C11.98 14.4197 12.02 14.4197 12.04 14.4197C12.06 14.4197 12.09 14.4197 12.11 14.4197C12.12 14.4197 12.13 14.4197 12.13 14.4197C14.15 14.3497 15.74 12.7097 15.75 10.6797C15.75 8.60969 14.07 6.92969 12 6.92969Z"
                            fill="#292D32" />
                    </svg>
                <% } %>
                
            
                <div
                    class="absolute right-1 transform hidden group-hover:block w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                    <div class="flex items-center">
                        <% if (userID.user.profilePicture) { %>
                            <% if (userID.user.profilePicture.startsWith('http')) { %>
                                <img src="<%= userID.user.profilePicture %>" class="w-10 h-10 rounded-full" alt="Profile Picture">
                            <% } else { %>
                                <img src="/uploads/profiles/<%= userID.user.profilePicture %>" class="w-10 h-10 rounded-full" alt="Profile Picture">
                            <% } %>
                        <% } %>
                        
                        <div class="ml-3">
                            <h3 class="text-lg text-black font-semibold">
                                <%= userID.user.username %>
                            </h3>
                            <p class="text-gray-500">@<%= userID.user.username %>
                            </p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p class="text-sm text-gray-700">
                            <%= userID.user.bio %>.
                        </p>
                    </div>
                    <div class="mt-4">
                        <ul class="list-none">
                            <li class="py-1">
                                <a href="/<%= userID.user.username %>" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                    <span><%= userID.user.username %></span>
                                </a>
                            </li>
                            <li class="py-1">
                                <a href="#" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                    <span>Event</span>
                                </a>
                            </li>
                            <li class="py-1">
                                <a href="#" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                    <span>ข้อความแจ้งเตือน</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="relative group md:hidden">
                <% if (userID.user.profilePicture) { %>
                    <% if (userID.user.profilePicture.startsWith('http')) { %>
                        <img src="<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } else { %>
                        <img src="/uploads/profiles/<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } %>
                <% } else { %>
                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 12C22 6.49 17.51 2 12 2C6.49 2 2 6.49 2 12C2 14.9 3.25 17.51 5.23 19.34C5.23 19.35 5.23 19.35 5.22 19.36C5.32 19.46 5.44 19.54 5.54 19.63C5.6 19.68 5.65 19.73 5.71 19.77C5.89 19.92 6.09 20.06 6.28 20.2C6.35 20.25 6.41 20.29 6.48 20.34C6.67 20.47 6.87 20.59 7.08 20.7C7.15 20.74 7.23 20.79 7.3 20.83C7.5 20.94 7.71 21.04 7.93 21.13C8.01 21.17 8.09 21.21 8.17 21.24C8.39 21.33 8.61 21.41 8.83 21.48C8.91 21.51 8.99 21.54 9.07 21.56C9.31 21.63 9.55 21.69 9.79 21.75C9.86 21.77 9.93 21.79 10.01 21.8C10.29 21.86 10.57 21.9 10.86 21.93C10.9 21.93 10.94 21.94 10.98 21.95C11.32 21.98 11.66 22 12 22C12.34 22 12.68 21.98 13.01 21.95C13.05 21.95 13.09 21.94 13.13 21.93C13.42 21.9 13.7 21.86 13.98 21.8C14.05 21.79 14.12 21.76 14.2 21.75C14.44 21.69 14.69 21.64 14.92 21.56C15 21.53 15.08 21.5 15.16 21.48C15.38 21.4 15.61 21.33 15.82 21.24C15.9 21.21 15.98 21.17 16.06 21.13C16.27 21.04 16.48 20.94 16.69 20.83C16.77 20.79 16.84 20.74 16.91 20.7C17.11 20.58 17.31 20.47 17.51 20.34C17.58 20.3 17.64 20.25 17.71 20.2C17.91 20.06 18.1 19.92 18.28 19.77C18.34 19.72 18.39 19.67 18.45 19.63C18.56 19.54 18.67 19.45 18.77 19.36C18.77 19.35 18.77 19.35 18.76 19.34C20.75 17.51 22 14.9 22 12ZM16.94 16.97C14.23 15.15 9.79 15.15 7.06 16.97C6.62 17.26 6.26 17.6 5.96 17.97C4.44 16.43 3.5 14.32 3.5 12C3.5 7.31 7.31 3.5 12 3.5C16.69 3.5 20.5 7.31 20.5 12C20.5 14.32 19.56 16.43 18.04 17.97C17.75 17.6 17.38 17.26 16.94 16.97Z"
                            fill="#292D32" />
                        <path
                            d="M12 6.92969C9.93 6.92969 8.25 8.60969 8.25 10.6797C8.25 12.7097 9.84 14.3597 11.95 14.4197C11.98 14.4197 12.02 14.4197 12.04 14.4197C12.06 14.4197 12.09 14.4197 12.11 14.4197C12.12 14.4197 12.13 14.4197 12.13 14.4197C14.15 14.3497 15.74 12.7097 15.75 10.6797C15.75 8.60969 14.07 6.92969 12 6.92969Z"
                            fill="#292D32" />
                    </svg>
                <% } %>
            <% } else {%> 
                <div class="flex items-center">
                    <h2 class="text-black hidden md:block">เปลี่ยนโหมด</h2>
                    <div class="mx-auto">
                        <div class="flex justify-end">
                            <label for="theme-toggle" class="inline-flex items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="theme-toggle" class="sr-only">
                                    <div class="block-dack bg-gray-100 w-14 h-8 rounded-full">
                                    </div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition transform">
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            <!-- btn login -->
             <div class="relative group">
                <a href="/<%= lang %>/auth/login" class="block px-4 py-2 font-bold text-sm md:text-md bg-black text-white rounded">
                    เข้าสู่ระบบ
                </a>
             </div>
             <% } %>
        </div>
    </div>
</header>


<!-- Bottom Navigation สำหรับมือถือ -->
<nav class="fixed bottom-0 left-0 right-0 bg-white shadow-lg border-t border-gray-200 md:hidden z-10">
    <ul class="flex justify-around">
        <!-- หน้าหลัก -->
        <li>
            <a href="/" class="flex flex-col items-center py-2 text-blue-500 hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l7-7 7 7M5 10v10h4V12h6v8h4V10l-7-7-7 7z"/>
                </svg>
                <span class="text-xs mt-1">หน้าหลัก</span>
            </a>
        </li>

        <!-- สำหรับคุณ -->
        <li>
            <a href="/<%= lang %>/foryou?recomment=0&i-0&sortBy=views" class="flex flex-col items-center py-2 text-gray-500 hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m0 0H7m2 0v2m0-2V8m8-2H5a2 2 0 00-2 2v8a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2z"/>
                </svg>
                <span class="text-xs mt-1">สำหรับคุณ</span>
            </a>
        </li>

        <!-- โปรไฟล์ -->
         <% if (userID) {%>
        <li>
            <a href="/<%= lang %>/<%= userID.user.username %>" class="flex flex-col items-center py-2 text-gray-500 hover:text-blue-500">
                <% if (userID.user.profilePicture) { %>
                    <% if (userID.user.profilePicture.startsWith('http')) { %>
                        <img src="<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } else { %>
                        <img src="/uploads/profiles/<%= userID.user.profilePicture %>" class="w-10 h-10 border-blue-500 border-2 rounded-full" alt="Profile Picture">
                    <% } %>
                <% } else { %>
                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 12C22 6.49 17.51 2 12 2C6.49 2 2 6.49 2 12C2 14.9 3.25 17.51 5.23 19.34C5.23 19.35 5.23 19.35 5.22 19.36C5.32 19.46 5.44 19.54 5.54 19.63C5.6 19.68 5.65 19.73 5.71 19.77C5.89 19.92 6.09 20.06 6.28 20.2C6.35 20.25 6.41 20.29 6.48 20.34C6.67 20.47 6.87 20.59 7.08 20.7C7.15 20.74 7.23 20.79 7.3 20.83C7.5 20.94 7.71 21.04 7.93 21.13C8.01 21.17 8.09 21.21 8.17 21.24C8.39 21.33 8.61 21.41 8.83 21.48C8.91 21.51 8.99 21.54 9.07 21.56C9.31 21.63 9.55 21.69 9.79 21.75C9.86 21.77 9.93 21.79 10.01 21.8C10.29 21.86 10.57 21.9 10.86 21.93C10.9 21.93 10.94 21.94 10.98 21.95C11.32 21.98 11.66 22 12 22C12.34 22 12.68 21.98 13.01 21.95C13.05 21.95 13.09 21.94 13.13 21.93C13.42 21.9 13.7 21.86 13.98 21.8C14.05 21.79 14.12 21.76 14.2 21.75C14.44 21.69 14.69 21.64 14.92 21.56C15 21.53 15.08 21.5 15.16 21.48C15.38 21.4 15.61 21.33 15.82 21.24C15.9 21.21 15.98 21.17 16.06 21.13C16.27 21.04 16.48 20.94 16.69 20.83C16.77 20.79 16.84 20.74 16.91 20.7C17.11 20.58 17.31 20.47 17.51 20.34C17.58 20.3 17.64 20.25 17.71 20.2C17.91 20.06 18.1 19.92 18.28 19.77C18.34 19.72 18.39 19.67 18.45 19.63C18.56 19.54 18.67 19.45 18.77 19.36C18.77 19.35 18.77 19.35 18.76 19.34C20.75 17.51 22 14.9 22 12ZM16.94 16.97C14.23 15.15 9.79 15.15 7.06 16.97C6.62 17.26 6.26 17.6 5.96 17.97C4.44 16.43 3.5 14.32 3.5 12C3.5 7.31 7.31 3.5 12 3.5C16.69 3.5 20.5 7.31 20.5 12C20.5 14.32 19.56 16.43 18.04 17.97C17.75 17.6 17.38 17.26 16.94 16.97Z"
                            fill="#292D32" />
                        <path
                            d="M12 6.92969C9.93 6.92969 8.25 8.60969 8.25 10.6797C8.25 12.7097 9.84 14.3597 11.95 14.4197C11.98 14.4197 12.02 14.4197 12.04 14.4197C12.06 14.4197 12.09 14.4197 12.11 14.4197C12.12 14.4197 12.13 14.4197 12.13 14.4197C14.15 14.3497 15.74 12.7097 15.75 10.6797C15.75 8.60969 14.07 6.92969 12 6.92969Z"
                            fill="#292D32" />
                    </svg>
                <% } %>
                <span class="text-xs mt-1">โปรไฟล์</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
