<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= anime.title.th || anime.title.en  %></title>
    <% if (anime.poster.startsWith('http')) { %>
        <meta property="og:image" content="<%= anime.poster %>" />
    <% } else { %>
        <meta property="og:image" content="https://www.ani-night.online/uploads/posters/<%= anime.poster  %>" />
    <% } %>
    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="1280">
     <meta name="description"
         content="<%= anime.synopsis %>" /> 
     <meta property="og:type" content="website" />
     <meta property="og:url" content="https://ani-night.online" />
     <meta property="og:title" content="<%= anime.title.th || anime.title.en  %> | AniNight" />
     <meta property="og:description"
         content="<%= anime.synopsis %>" />

    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link rel="canonical" href="https://www.ani-night.online/anime/<%= anime.urlslug %>">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="application/ld+json">
        <% if (anime.published) { %>
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "headline": "<%- anime.title %>",
      "image": "<%= anime.poster.startsWith('http') ? anime.poster : 'https://ani-night.online/uploads/posters/' + (anime.poster || 'default.png') %>",
      "datePublished": "<%= moment(anime.createdAt).toISOString() %>",
      "dateModified": "<%= moment(anime.updatedAt).toISOString() %>",
      "author": {
        "@type": "Person",
        "name": "ทีมงาน Ani Night"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Ani Night",
        "logo": {
          "@type": "ImageObject",
          "url": "https://ani-night.online/logo/favicon.png"
        }
      },
      "description": "<%- anime.synopsis %>"
    }
    <% } %>
    </script>
</head>
<body class="bg-gray-100">

    <%- include('../../Component/Header') %>

    <section class="mx-auto max-w-6xl md:p-5">
        <!-- Anime Info Section  -->
      <%- include('./Component/Header') %>

        <div class="mx-auto p-4 flex flex-col lg:flex-row gap-4">
            <aside class="hidden lg:block lg:w-1/4 bg-white shadow-lg p-4 rounded-lg">
                <h2 class="text-xl font-bold mb-4 text-orange-500">ข้อมูลอนิเมะ</h2>
            
                <!-- ข้อมูลอนิเมะ -->
                <div class="mb-6">
                    <div class="mb-6">
                        <h3 class="text-lg font-semibold text-gray-700">ชื่อเรื่อง:</h3>
                        <p class="text-gray-600"><strong>โรมันจิ</strong>: <%= anime.title.en || "ไม่พบข้อมูล" %></p>
                        <p class="text-gray-600"><strong>ญี่ปุ่น</strong> : <%= anime.title.jp || "ไม่พบข้อมูล" %></p>
                        <p class="text-gray-600"><strong>ไทย</strong>: <%= anime.title.th  || "ไม่พบข้อมูล"%></p>
                    </div>
                    <p class="text-gray-600">หมวดหมู่: <%= anime.categories %></p>
                    <p class="text-gray-600">จำนวนตอน: <%= anime.Episodes || "ไม่พบข้อมูล" %> <strong>ตอน</strong></p>
                    <p class="text-gray-600">สถานะ:  <%= anime.status ? 'ฉายแล้ว' : 'ยังไม่ฉาย' %></p>
                </div>
            
                <!-- แนวอนิเมะ -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold text-gray-700">แนวอนิเมะ</h3>
                    <ul class="list-disc pl-5 text-gray-600">
                        <% if (anime.genres && anime.genres.length > 0) { %>
                            <% anime.genres.forEach(function(genre) { %>
                                <li><%= genre %></li>
                            <% }) %>
                        <% } else { %>
                            <li>ไม่พบข้อมูล</li>
                        <% } %>
                    </ul>            
                </div>

                <div class="mb-6">
                    <h3 class="text-lg font-semibold text-gray-700">รายละเอียดตอน:</h3>
                    <p class="text-gray-600"><strong>กำลังฉาย</strong>: <%= anime.episodes.current %></p>
                    <p class="text-gray-600"><strong>ตอนทั้งหมด</strong>: <%= anime.episodes.total %></p>
                </div>
            
                <!-- วันที่ฉาย -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold text-gray-700">วันที่ฉาย:</h3>
                    <p class="text-gray-600">เริ่มฉาย: <%= anime.month %> <%= anime.year %></p>
                    <p class="text-gray-600">จบฉาย: no date</p>
                </div>
            
            </aside>
            

            <!-- Main Content (Right) -->
            <main class="w-full lg:w-3/4 bg-white shadow-lg p-6 rounded-lg bg-bottom bg-no-repeat bg-cover"
            >
                <!-- สำหรับแสดงช่องทางการฉาย -->
                <div class="mb-6 bg-white md:rounded-lg p-5 mt-5">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">ช่องทางการฉาย</h2>
                    <div class="bg-white rounded px-4 py-4">
                    
                        <% let hasPlatforms = false; %> <!-- ตัวแปรเพื่อตรวจสอบว่ามีแพลตฟอร์มใด ๆ หรือไม่ -->
                    
                        <!-- ตรวจสอบแพลตฟอร์มทั่วไป -->
                        <% if (anime.streaming && anime.streaming.length > 0) { %>
                            <h2 class="text-lg font-semibold text-gray-800 mb-2">บนแพลตฟอร์ม OTT</h2>
                            <% anime.streaming.forEach(stream => { %>
                                <% if (stream.crunchyroll || stream.iqiyi || stream.bilibili) { %>
                                    <!-- แสดงแพลตฟอร์ม Crunchyroll -->
                                    <% if (stream.crunchyroll) { %>
                                        <div class="crunchyroll bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                            <a href="<%= stream.crunchyroll %>" class="flex items-center gap-3" target="_blank">
                                                <div class="image">
                                                    <img src="/logo/crunchyroll_icon.png" alt="crunchyroll" width="50px" height="50px" class="rounded-full">
                                                </div>
                                                <h2>Crunchyroll</h2>
                                            </a>
                                        </div>
                                        <% hasPlatforms = true; %>
                                    <% } %>
                    
                                    <!-- แสดงแพลตฟอร์ม IQIYI -->
                                    <% if (stream.iqiyi) { %>
                                        <div class="iqiyi bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                            <a href="<%= stream.iqiyi %>" class="flex items-center gap-3" target="_blank">
                                                <div class="image">
                                                    <img src="/logo/iqiyi_icon.png" alt="iqiyi" width="50px" height="50px" class="rounded-full">
                                                </div>
                                                <h2>IQIYI</h2>
                                            </a>
                                        </div>
                                        <% hasPlatforms = true; %>
                                    <% } %>
                    
                                    <!-- แสดงแพลตฟอร์ม Bilibili -->
                                    <% if (stream.bilibili) { %>
                                        <div class="bilibili bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                            <a href="<%= stream.bilibili %>" class="flex items-center gap-3" target="_blank">
                                                <div class="image">
                                                    <img src="/logo/bilibili_icon.png" alt="bilibili" width="50px" height="50px" class="rounded-full">
                                                </div>
                                                <h2>Bilibili</h2>
                                            </a>
                                        </div>
                                        <% hasPlatforms = true; %>
                                    <% } %>
                                <% } %>
                            <% }); %>
                        <% } %>
                    
                        <hr>
                        <!-- ตรวจสอบแพลตฟอร์ม YouTube -->
                        <% if (anime.streaming && anime.streaming.length > 0) { %>
                            <h2 class="text-lg font-semibold text-gray-800 mb-2">บน YouTube</h2>
                            <% anime.streaming.forEach(stream => { %>
                                <% if (stream.youtubes && stream.youtubes.length > 0) { %>
                                    <% stream.youtubes.forEach(youtube => { %>
                                        <!-- ตรวจสอบแต่ละ YouTube -->
                                        <% if (youtube.muse) { %>
                                            <div class="muse bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                                <a href="<%= youtube.muse %>" class="flex items-center gap-3" target="_blank">
                                                    <div class="image">
                                                        <img src="/logo/muse.png" alt="Muse" width="50px" height="50px" class="rounded">
                                                    </div>
                                                    <h2>Muse</h2>
                                                </a>
                                            </div>
                                            <% hasPlatforms = true; %>
                                        <% } %>
                    
                                        <% if (youtube.anione) { %>
                                            <div class="anione bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                                <a href="<%= youtube.anione %>" class="flex items-center gap-3" target="_blank">
                                                    <div class="image">
                                                        <img src="/logo/anione.jpg" alt="Ani-One" width="50px" height="50px" class="rounded-full">
                                                    </div>
                                                    <h2>Ani-One</h2>
                                                </a>
                                            </div>
                                            <% hasPlatforms = true; %>
                                        <% } %>
                    
                                        <% if (youtube.pops) { %>
                                            <div class="pops bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                                <a href="<%= youtube.pops %>" class="flex items-center gap-3" target="_blank">
                                                    <div class="image">
                                                        <img src="/logo/pops.jpg" alt="Pops" width="50px" height="50px" class="rounded-full">
                                                    </div>
                                                    <h2>Pops</h2>
                                                </a>
                                            </div>
                                            <% hasPlatforms = true; %>
                                        <% } %>
                                    <% }); %>
                                <% } else { %>
                                    <p>ไม่มีบน YouTube</p>
                                <% } %>
                            <% }); %>
                        <% } %>
                    
                        <!-- ถ้าไม่มีแพลตฟอร์มแสดงข้อความ -->
                        <% if (!hasPlatforms) { %>
                            <p class="text-center text-sm text-black">ยังไม่มีแพลตฟอร์มสตีม</p>
                        <% } %>
                    </div>
                    
                </div>

                <!-- Characters Section -->
                <div class="mb-6 mt-6 bg-gray-50 p-4 md:rounded-lg">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">ตัวละคร | นักพากย์ </h2>
                    <div class="space-y-4">
                        <% if (anime.characters.length > 0) { %>
                            <% anime.characters.forEach(character => { %>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center bg-white shadow rounded-lg p-4">
                                    <!-- Left: Character -->
                                    <div class="flex items-center">
                                        <img data-src="<%- character.imageUrl %>" src="<%- character.imageUrl || 'https://via.placeholder.com/150?text=NO+IMAGE' %>" 
                                            alt="<%- character.name %>" 
                                            class="w-16 h-16 md:w-20 md:h-20 object-cover rounded-lg mr-4 lazyload">
                                        <div>
                                            <p class="text-gray-700 text-lg font-semibold"><%- character.name %></p>
                                            <p class="text-gray-500"><%- character.role %></p>
                                        </div>
                                    </div>
                
                                    <!-- Right: Voice Actor -->
                                    <div class="flex items-center justify-end">
                                        <% if (character.actor && character.actor.length > 0) { %>
                                            <% character.actor.forEach(actor => { %>
                                                <div class="flex items-center">
                                                    <img data-src="<%- character.imageUrl %>" src="<%- actor.imageUrl || 'https://via.placeholder.com/150?text=NO+IMAGE' %>" 
                                                        alt="<%- actor.name %>" 
                                                        class="w-16 h-16 md:w-20 md:h-20 object-cover rounded-lg mr-4 lazyload">
                                                    <div>
                                                        <p class="text-gray-700 text-lg font-semibold"><%- actor.name %></p>
                                                        <p class="text-gray-500"><%- actor.role %></p>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        <% } else { %>
                                            <p class="text-gray-500">No voice actor available</p>
                                        <% } %>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="text-center">
                                <p class="text-gray-700">ยังไม่ได้ใส่ข้อมูล</p>
                            </div>
                        <% } %>
                    </div>
                </div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-e5+6n-34-bt+x0"
                data-ad-client="ca-pub-6579807593228261"
                data-ad-slot="1942933440"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            </main>
        </div>

       

        <div class="mx-auto max-w-6xl">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-e5+6n-34-bt+x0"
                data-ad-client="ca-pub-6579807593228261"
                data-ad-slot="1942933440"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
        </div>
    </section>


    <%- include('../../Component/Footer') %>

    <script src="/js/script.js" defer></script>
    <script src="/js/loadImage.js"></script>
    <script src="/js/pages/genColorbg.js" defer ></script>
    <script src="/js/pages/Animeinfo.js" defer></script>
</body>

</html>
