<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= anime.title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link rel="canonical" href="https://www.ani-night.online/anime/<%= anime.urlslug %>">
    <% if (anime.poster.startsWith('http')) { %>
        <meta property="og:image" content="<%= anime.poster %>" />
    <% } else { %>
        <meta property="og:image" content="https://www.ani-night.online/uploads/posters/<%= anime.poster  %>" />
    <% } %>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
     <meta name="description"
         content="<%= anime.synopsis %>" /> 
     <meta property="og:type" content="website" />
     <meta property="og:url" content="https://ani-night.online" />
     <meta property="og:title" content="<%= anime.title %>" />
     <meta property="og:description"
         content="<%= anime.synopsis %>" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gray-100 text-black">
    <%- include('../../Component/Sidebar') %>
    <%- include('../../Component/Header') %>

    <div class="layout_app">
        <!-- Main Content -->
    <div class="anime_main flex-1 p-8 bg-gray-100">
        <main>
            
            <!-- Anime Info Section -->
            <div class="bg-white rounded-lg shadow-md p-6">
                 <!-- Anime Banner Section -->
             <div class="mb-6 relative">
                <img title="<%- anime.synopsis %>" src="https://via.placeholder.com/1200x400" alt="Anime Banner" class="w-full h-64 object-cover rounded-lg shadow-md">
                <div class="absolute bottom-0 left-0 p-6 bg-gradient-to-t from-black to-transparent w-full rounded-lg">
                    <h1 class="text-4xl font-bold text-white"><%- anime.title %></h1>
                </div>
            </div>
                <h1 class="text-3xl font-bold text-gray-800 mb-4"><%- anime.title %></h1>

                <div class="flex flex-col md:flex-row mb-6">
                  <div class="overflow-hidden">
                    <% if (anime.poster.startsWith('http')) { %>
                        <img title="<%- anime.title %>" src="<%= anime.poster %>" alt=" <%= anime.title %>" class="w-64 h-auto rounded-lg shadow-md mb-4 md:mb-0">
                    <% } else { %>
                        <img title="<%- anime.title %>" src="/uploads/posters/<%= anime.poster %>" alt=" <%= anime.title %>" class="w-64 h-auto rounded-lg shadow-md mb-4 md:mb-0">
                    <% } %>
                  </div>
                    <!-- <img src="https://via.placeholder.com/300x450" alt="Anime Cover" > -->
                    <div class="md:ml-6 flex-1">
                        <% if (userID) { %>
                            <div class="flex justify-end items-center">
                                <i class="fa-solid fa-bookmark text-2xl cursor-pointer  hover:rounded-full px-2
                                <%= anime.saveanime && anime.saveanime.includes(userID.user._id) ? 'text-yellow-500' : 'text-gray-500' %>" 
                                onclick="toggleBookmark('<%= anime._id %>')" 
                                id="bookmark-<%= anime._id %>"
                                data-animeid="<%= anime._id %>"></i>
                                <span>บันทึก</span>
                            </div>
                        <% } else { %>
                            <div class="flex justify-end items-center">
                                <i class="fa-solid fa-bookmark text-2xl cursor-pointer  hover:rounded-full px-2"
                                onclick="toggleBookmark('<%= anime._id %>')" 
                                id="bookmark-<%= anime._id %>"
                                data-animeid="<%= anime._id %>"></i>
                                <span>บันทึก</span>
                            </div>
                        <% } %>
                        <!-- Description -->
                        <article class="text-gray-600 mb-5">
                            <%- anime.synopsis %> 
                        </article>

                        <!-- Details (Genres, Episodes, Status, etc.) -->
                        <div class="grid grid-cols-2 gap-4 text-gray-700">
                            <div>
                                <h2 class="font-semibold">Format</h2>
                                <p><%= anime.type || "ไม่พบข้อมูล" %></p>
                            </div>
                            <div>
                                <h2 class="font-semibold">studio</h2>
                                <p><%= anime.studio || "ไม่พบข้อมูล" %> </p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Licensors</h2>
                                <p><%= anime.Licensors || "ไม่พบข้อมูล" %> </p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Genres</h2>
                                <p>Action, Adventure, Fantasy</p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Season</h2>
                                <p><%= anime.season %></p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Episodes</h2>
                                <p><%= anime.Episodes || "ไม่พบข้อมูล" %> <strong>ตอน</strong> </p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Duration</h2>
                                <p><%= anime.Duration || "ไม่พบข้อมูล" %> <strong>นาที</strong> </p>
                            </div>
                            <div>
                                <h2 class="font-semibold">Status</h2>
                                <p><%= anime.status ? 'ฉายแล้ว' : 'ยังไม่ฉาย' %></p>
                            </div>
                            <div>
                                <h2 class="font-semibold">เริ่มฉาย</h2>
                                <p> <%= anime.month %>  <%= anime.year %></p>
                            </div></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Characters Section -->
                <div class="mb-6 mt-6">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">ตัวละคร | Characters</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <% if (anime.characters.length > 0) { %>
                            <% anime.characters.forEach(character => { %>
                                <div class="text-center">
                                    <img src="<%- character.imageUrl %>" alt="<%- character.name %>" class="w-32 h-32 object-cover rounded-full mx-auto mb-2">
                                    <p class="text-gray-700"><%- character.name %></p>
                                    <strong><%- character.role %></strong>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="text-center">
                                <img src="https://via.placeholder.com/150" alt="Character Image" class="w-32 h-auto rounded-full mx-auto mb-2">
                                <p class="text-gray-700">Character Name</p>
                            </div>
                        <% } %>                        
                    </div>
                </div>

                <div class="mb-6 bg-white rounded p-5">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">ช่องทางการฉาย</h2>
                    <div class="bg-white rounded px-4 py-4">
                        <% let hasPlatforms = false; %> <!-- ตัวแปรเพื่อตรวจสอบว่ามีแพลตฟอร์มใด ๆ หรือไม่ -->
                        
                        <% if (anime.streaming && anime.streaming.length > 0) { %>
                            <% anime.streaming.forEach(stream => { %>
                                <% if (stream.crunchyroll) { %>
                                    <div class="crunchyroll bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                        <a href="<%= stream.crunchyroll %>" class="flex items-center gap-3" target="_blank">
                                            <div class="image">
                                                <img src="/logo/crunchyroll_icon.png" alt="crunchyroll" width="50px" height="50px" class="rounded-full">
                                            </div>
                                            <h2>Crunchyroll</h2>
                                        </a>
                                    </div>
                                    <% hasPlatforms = true; %> <!-- ตั้งค่าตัวแปรเพื่อตรวจสอบว่าอย่างน้อยมีแพลตฟอร์มหนึ่งที่มีข้อมูล -->
                                <% } %>
                    
                                <% if (stream.iqiyi) { %>
                                    <div class="iqiyi bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                        <a href="<%= stream.iqiyi %>" class="flex items-center gap-3" target="_blank">
                                            <div class="image">
                                                <img src="/logo/iqiyi_icon.png" alt="iqiyi" width="50px" height="50px" class="rounded-full">
                                            </div>
                                            <h2>IQIYI</h2>
                                        </a>
                                    </div>
                                    <% hasPlatforms = true; %>
                                <% } %>
                    
                                <% if (stream.bilibili) { %>
                                    <div class="bilibili bg-gray-100 px-3 py-2 rounded-lg mb-5">
                                        <a href="<%= stream.bilibili %>" class="flex items-center gap-3" target="_blank">
                                            <div class="image">
                                                <img src="/logo/bilibili_icon.png" alt="bilibili" width="50px" height="50px" class="rounded-full">
                                            </div>
                                            <h2>bilibili</h2>
                                        </a>
                                    </div>
                                    <% hasPlatforms = true; %>
                                <% } %>
                            <% }); %>
                        <% } %>
                    
                        <% if (!hasPlatforms) { %>
                            <p class="text-center text-sm text-black">ยังไม่มีแพลตฟอร์มสตีม</p>
                        <% } %>
                    </div>
                </div>

                <!-- Watch Trailer Button -->
                <div class="text-center">
                    <a href="#" class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-600">
                        Watch Trailer
                    </a>
                </div>
            </div>
        </main>
    </div>
    </div>


    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
    crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-6579807593228261"
    data-ad-slot="3649329378"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
    <script src="/js/script.js"></script>
    <script src="/js/pages/Animeinfo.js"></script>
    
</body>

</html>
