<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= anime.title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">

    <meta property="og:image" content="https://m1r.ai/ycqx2.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="ani-night.online">

     <meta name="description"
         content="<%= anime.synopsis %>" />
     
     <!-- Open Graph / Facebook -->
     <meta property="og:type" content="website" />
     <meta property="og:url" content="https://ani-night.online/" />
     <meta property="og:title" content="<%= anime.title %>" />
     <meta property="og:description"
         content="<%= anime.synopsis %>" />
     <meta property="og:image" content="<%= anime.poster ? '/uploads/posters/' + anime.poster : 'https://via.placeholder.com/50x75' %>" />
     
     <!-- Twitter -->
     <meta property="twitter:card" content="summary_large_image" />
     <meta property="twitter:url" content="https://ani-night.online/" />
     <meta property="twitter:title" content="<%= anime.title %>" />
     <meta property="twitter:description"
         content="<%= anime.synopsis %>" />
     <meta property="twitter:image" content="<%= anime.poster ? '/uploads/posters/' + anime.poster : 'https://via.placeholder.com/50x75' %>" />
     

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gray-100 text-black">
    <%- include('../../Component/Sidebar') %>
    <div class="flex-1">
        <%- include('../../Component/Header') %>
        <main class="flex mx-auto my-4 px-4 w-full max-w-5xl gap-x-6">
            <!-- Left sidebar pc -->
            <div class="shrink-0 overflow-hidden hidden md:flex flex-col gap-4 rounded-lg p-4 w-64">
                <div class="w-full">
                    <img src="<%= anime.poster ? '/uploads/posters/' + anime.poster : 'https://via.placeholder.com/50x75' %>" alt=" <%= anime.title %>" width="175" height="250" class="overflow-hidden rounded">
                </div>
                <div class="flex flex-col gap-2">
                    <div>
                        <h3 class="text-base">ชื่อต้นฉบับ ( ญี่ปุ่น )</h3>
                        <p class="text-lg">
                            <%= anime.title.length > 50 ? anime.title.substring(0, 50) + '...' : anime.title %>
                          </p>                          
                    </div>
                
                    <div>
                        <h3 class="text-base">สถานะ</h3>
                        <p class="text-lg"><%= anime.status ? 'ฉายแล้ว' : 'ยังไม่ฉาย' %></p>
                    </div>

                    <div>
                        <h3 class="text-base">Season</h3>
                        <p class="text-lg"><%= anime.season %></p>
                    </div><hr class="mt-4 mb-5">
                    <div>
                        <p class="text-balance">สตูดิโอ:<%= anime.studio %></p>
                        <p class="text-balance">Source:<%= anime.Source %></p>
                        <p class="text-balance">Licensors:<%= anime.Licensors %></p>
                    </div><hr class="mt-4 mb-5">
                    <div>
                        <p>
                            <a href="<%= anime.website %>" class="bg-blue-400 rounded-lg px-4 py-2 text-white">
                                Official Site
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Main Content Mobile -->
            <div class="flex-grow">
                <div class="flex flex-col gap-4">
                    <div class="grow">
                        <h1 class="text-3xl font-bold"><%= anime.title %></h1>
                        <p class=" text-black text-1xl"><%= anime.title %></p>

                   <!-- Save Anime -->
                    <% if (userID) { %>
                        <div class="flex justify-end">
                            <i class="fa-solid fa-bookmark text-2xl cursor-pointer hover:bg-blue-500 hover:rounded-full px-2
                            <%= anime.saveanime && anime.saveanime.includes(userID.user._id) ? 'text-yellow-500' : 'text-gray-500' %>" 
                            onclick="toggleBookmark('<%= anime._id %>')" 
                            id="bookmark-<%= anime._id %>"
                            data-animeid="<%= anime._id %>"></i>
                        </div>
                    <% } else { %>
                        <div class="flex justify-end">
                            <i class="fa-solid fa-bookmark text-2xl cursor-pointer hover:bg-blue-500 hover:rounded-full px-2"
                            onclick="toggleBookmark('<%= anime._id %>')" 
                            id="bookmark-<%= anime._id %>"
                            data-animeid="<%= anime._id %>"></i>
                        </div>
                    <% } %>

                    </div>
                    <nav class="flex gap-3 items-center border-gray-200 border-t-2 border-b-2">
                        <a href="#" class="text-sm text-black border-black border-b-2">รายละเอียด</a>
                        <a href="/anime/<%= anime.urlslug %>/stream" class="text-sm text-gray-400">แพลตฟอร์มฉาย</a>
                        <a href="#" class="text-sm text-gray-400">PV</a>
                        <a href="#" class="text-sm text-gray-400">แสดงความคิดเห็น</a>
                    </nav>
                    <div class="flex flex-col gap-4">
                        <div class="flex gap-4 mb-4 md:hidden">
                            <div class="shrink-0">
                                <img src="<%= anime.poster ? '/uploads/posters/' + anime.poster : 'https://via.placeholder.com/50x75' %>" alt="<%= anime.title %>" width="175" height="250" class="overflow-hidden rounded w-24 xs:w-40">
                            </div>
                            <div class="grow">
                                <div class="text-sm text-base-content/75">
                                    <div class="whitespace-nowrap text-ellipsis">
                                        <%= anime.month %>  <%= anime.year %>
                                    </div>
                                </div>
                                <div class="text-lg font-medium line-clamp-3 text-base-content/50 cursor-pointer">
                                    <span class="text-base-content"><%= anime.title  %></span>
                                </div>
                                <div class="flex justify-around flex-wrap mt-3 bg-white rounded px-4 py-5 md:hidden">
                                    <div class="flex flex-col items-center">
                                        <p class="text-xs">ชื่อต้นฉบับ ( ญี่ปุ่น )</p>
                                        <span class="text-sm text-gray-700"><%= anime.title.substring(0, 10) + '...'  %></span>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <p  class="text-xs">สถานะ</p>
                                        <span class="text-sm text-gray-700"><%= anime.status ? 'ฉายแล้ว' : 'ยังไม่ฉาย' %></span> 
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <p  class="text-xs">Season</p>
                                        <span class="text-sm text-gray-700"><%= anime.season %> <%= anime.year %></span>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <p  class="text-xs">Studio</p>
                                        <span class="text-sm text-gray-700"><%= anime.studio %></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!-- Container Tv -->
                        <div class="flex justify-center gap-4 bg-white rounded px-4 py-4">
                            <div class="flex-col items-center text-center">
                                <p class="font-medium text-2xl"><%= anime.type %></p>
                                <p class="font-medium">เริ่มฉาย:  <%= anime.month %>  <%= anime.year %></p>
                            </div>
                        </div>

                      <section class="streem">
                        <div class=" bg-white rounded px-4 py-4">
                            <div class="flex justify-around flex-wrap">
                                <div class="flex flex-col items-center">
                                    <p class="text-xs">รูปแบบอนิเมะ</p>
                                    <span class="text-sm text-gray-700"><%= anime.type %></span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p  class="text-xs">จำนวนตอน</p>
                                    <span class="text-sm text-gray-700"><%= anime.Episodes %></span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p  class="text-xs">วันฉาย</p>
                                    <span class="text-sm text-gray-700"> <%= anime.month %>  <%= anime.year %></span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p  class="text-xs">Licensors</p>
                                    <span class="text-sm text-gray-700"> <%= anime.Licensors %></span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p  class="text-xs">นาที่</p>
                                    <span class="text-sm text-gray-700"><%= anime.Duration %></span>
                                </div>
                            </div>
                            
                            <div class="flex items-center">
                                <h2 class="text-base font-semibold mb-2">เรื่องย่อ</h2>
                            </div>
                            <p class=" mb-4">
                                <%- anime.synopsis %> 
                            </p>
                        </div>
                      </section>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
    crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-6579807593228261"
    data-ad-slot="3649329378"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <script src="/js/script.js"></script>
    <script src="/js/pages/Animeinfo.js"></script>
    
</body>

</html>
