<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= post.title %>
    </title>
    <meta name="keywords"
        content="อ่านบทความ อ่านอนิเมะ ข่าวสาร อนิเมะ ตารางสารอนิเมะ พากย์ไทย ออนไลน์ มังงะ manga anime <%= post.title %>  ได้ที่ AniNight อนิเมะไนท์">
    <meta name="description" content="<%= descriptionContent %>">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta property="og:locale" content="<%= lang %>">
    <meta property="og:type" content="article">

    <meta property="og:title" content="<%= post.title %> - AniNight">
    <meta property="og:image" content="https://ani-night.online/uploads/thumbnails/<%= post.thumbnail %>">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:site_name" content="ani-night.online">
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://ani-night.online/read/<%= post.urlslug %>">
    <meta property="og:url" content="https://ani-night.online/read/<%= post.urlslug %>" />
    <meta property="og:image:type" content="image/jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= post.title %> |  ani-night.online">
    <meta name="twitter:description" content="<%= descriptionContent %>">
    <meta property="twitter:url" content="ANI-NIGHT.ONLINE" />
    <meta name="twitter:image" content="https://ani-night.online/uploads/thumbnails/<%= post.thumbnail %>">
    <meta name="twitter:site" content="ANI-NIGHT.ONLINE">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">

    <!-- CSS & JS -->
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script src="/css/tailwindcss.css"></script>
    <script src="/js/fontawesome.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TD38Z8LH');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2HYDKP19Y"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
     crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X2HYDKP19Y');
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <style>
        .liked {
            color: #f56565;
        }
    </style>

    <script type="application/ld+json">
        <% if (post.published || new Date(post.scheduledAt) <= Date.now()) { %>
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "headline": "<%= post.title %>",
      "image": "<%= post.thumbnail.startsWith('http') ? post.thumbnail : 'https://ani-night.online/uploads/thumbnails/' + (post.thumbnail || 'default.png') %>",
      "datePublished": "<%= moment(post.createdAt).toISOString() %>",
      "dateModified": "<%= moment(post.updatedAt).toISOString() %>",
      "author": {
        "@type": "Person",
        "name": "ทีมงาน Ani Night"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Ani Night",
        "logo": {
          "@type": "ImageObject",
          "url": "https://ani-night.online/logo/favicon.png"
        }
      },
      "description": "ติดตามข่าวสารล่าสุดของอนิเมะได้ที่ Ani Night ได้ทุกที่ ไม่ว่าคุณจะอยู่พื้นที่ใดของโลก"
    }
    <% } %>
    </script>
</head>

<body class="bg-gray-100" data-articleid="<%= post._id %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD38Z8LH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('./Component/Header') %>

        <% if (post.published || new Date(post.scheduledAt) <=Date.now()) { %>

            <main class="container mx-auto mt-6 mb-6 flex flex-col lg:flex-row gap-6">
                <!-- Main Article -->
                <article class="bg-white p-6 rounded-lg shadow flex-1">
                    <nav class="crumb flex items-center mb-4">
                        <a href="/" class="text-blue-700 hover:text-blue-900 flex items-center"> <!-- ใช้สีที่มี contrast สูงขึ้น -->
                            <span class="svg-icon">
                                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274"
                                        stroke="#0D1B2A" stroke-width="1.5" stroke-linecap="round" />
                                    <path d="M15 18H9" stroke="#0D1B2A" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </span>
                            <p class="pl-3 truncate max-w-sm">หน้าแรก</p>
                        </a>
                        <span class="mx-2 text-gray-700">/</span> <!-- ใช้สีเทาที่ contrast สูงขึ้น -->
                        <a href="/read/<%= post.urlslug %>" class="text-blue-700 hover:text-blue-900 truncate max-w-xs">
                            <%= post.title %>
                        </a>
                        <span class="mx-2 text-gray-700">/</span>
                        <span class="truncate max-w-xs text-gray-900">
                            <%= post.title %>
                        </span>
                    </nav>
                    

                    <div class="entry-header">
                        <span class="post-cat-wrap flex flex-wrap gap-2">
                            <% if (post.categories && post.categories.length > 0) { %>
                                <% post.categories.forEach(function(category) { %>
                                    <a href="/search/q=<%= category %>"
                                       class="post-cat bg-blue-600 text-white px-3 py-2 rounded-md hover:bg-blue-700 hover:underline">
                                        <%= category %>
                                    </a>
                                <% }); %>
                            <% } else { %>
                                <span class="text-gray-700">ไม่ได้กำหนดหมวดหมู่</span>
                            <% } %>
                        </span>
                        
                        
                        <h1 class="text-3xl font-bold text-gray-800 mb-4 mt-3">
                            <%= post.title %>
                        </h1>

                        <div class="single-post-meta post-meta clearfi mb-6">
                            <div class="post-meta-left flex items-center justify-between">
                                <div class="post-meta-item flex items-center post-author space-x-4">
                                    <span class="post-meta-label text-gray-500 font-medium text-base truncate max-w-sm">โพสต์โดย</span>
                                    <span class="post-meta-value flex items-center text-sm text-gray-700">
                                        <% if (post.creator.id && post.creator.id.profilePicture) { %>
                                            <% let profilePic = post.creator.id.profilePicture.startsWith('http') ? post.creator.id.profilePicture : '/uploads/profiles/' + (post.creator.id.profilePicture || 'default.png'); %>
                                            <a href="/editor/<%= post.creator.id.username %>" class="flex items-center space-x-4 py-2">
                                                <img src="<%= profilePic %>" alt="รูปโปรไฟล์ของ <%= post.creator.id.username %>"
                                                width="12" height="12"
                                                     class="w-12 h-12 rounded-full border-2 border-blue-500">
                                                <span class="text-gray-700 font-semibold text-base truncate max-w-sm lg:max-w-md">
                                                    <%= post.creator.id.username %>
                                                </span>
                                            </a>
                                            
                                        <% } else { %>
                                            <span class="text-gray-600 text-sm">ไม่มีผู้สร้าง</span>
                                        <% } %>
                                    </span>
                                </div>
                        
                                <div class="meta-item last-updated text-right">
                                    <span class="post-meta-label text-gray-500 font-medium text-base truncate max-w-sm">เผยแพร่เมื่อ</span>
                                    <span class="post-meta-value text-sm text-gray-600  truncate max-w-sm">
                                        <%= moment(post.createdAt).locale('th').format('lll') %>    
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="share-buttons-top flex gap-4 items-center">
                        <!-- Facebook Share Button -->
                        <a href="https://www.facebook.com/sharer.php?u=<%= fullURL %>" 
                            target="_blank"
                            class="flex items-center space-x-2 text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg shadow-md"
                            rel="external noopener nofollow" 
                            title="Facebook">
                             <i class="fab fa-facebook-f"></i> <!-- Font Awesome Facebook Icon -->
                             <span class="text-sm">Share</span>
                         </a>
                         
                        
                        <!-- Twitter Share Button -->
                        <a href="https://twitter.com/intent/tweet?text=<%= post.title %>&url<%= post.urlslug %>" target="_blank"
                            class="twitter-share-button" data-show-count="false">Tweet</a>

                            <!-- Messenger Share Button -->
                        <a href="fb-messenger://share?app_id=1075150200774995&amp;display=popup&amp;link=<%= post.urlslug %>"
                            rel="external noopener nofollow" title="Messenger" target="_blank"
                            class="flex items-center space-x-2 text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg shadow-md">
                            <i class="fab fa-facebook-messenger"></i> <!-- Font Awesome Messenger Icon -->
                            <span class="text-sm">Messenger</span>
                        </a>
                    </div>

                    <div class="featured-area mt-4 mb-6">
                        <picture>
                            <!-- สำหรับขนาดหน้าจอเล็ก (มือถือ) -->
                            <source media="(max-width: 640px)" 
                                    srcset="<%= post.thumbnail.startsWith('http') ? post.thumbnail : '/uploads/thumbnails/' + (post.thumbnail || 'default.png') %>">
                            
                            <!-- สำหรับขนาดหน้าจอกลาง (แท็บเล็ต) -->
                            <source media="(max-width: 1024px)" 
                                    srcset="<%= post.thumbnail.startsWith('http') ? post.thumbnail : '/uploads/thumbnails/' + (post.thumbnail || 'default.png') %>">
                        
                            <!-- สำหรับขนาดหน้าจอใหญ่ (เดสก์ท็อป) -->
                            <img 
                                src="<%= post.thumbnail.startsWith('http') ? post.thumbnail : '/uploads/thumbnails/' + (post.thumbnail || 'default.png') %>" 
                                alt="<%= post.title %>" 
                                class="w-full h-auto max-h-96 object-cover rounded-lg shadow-lg"
                                width="800" 
                                height="450"
                            >
                        </picture>
                    </div>                    
                    
                    
                    
                    <div class="entry-content entry clearfix text-gray-700 text-lg
                        leading-relaxed tracking-wide mb-6 text-justify overflow-hidden">
                        <%- newContent %>
                    </div>
                    

                    
                    <h2 class="font-normal text-base mb-5 mt-5 md:text-2xl border-blue-300 border-l-2 pl-2">อัพเดตใหม่</h2>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% recentUpdates.forEach((update, index) => { %>       
          <%- include('./Component/carditem', {post: update, index: index}) %> 
    <% }) %>
</div>

                </article>
               
                <!-- Related News -->
                <aside class="bg-white p-6 rounded-lg shadow flex-shrink-0 w-full lg:w-1/3">
                    <!-- ad -->
                    <div class="mb-6">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                            crossorigin="anonymous"></script>
                        <!-- right_home -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6579807593228261" data-ad-slot="3059776200"
                            data-ad-format="auto" data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    
                    <!-- Comment and Comments-->
                    <div class="comments-section bg-gray-50 p-6 rounded-lg shadow-md">
                        <h2 class="text-xl font-bold mb-4">ความคิดเห็น <span id="commentsAll">(0)</span></h2>
                    
                        <!-- ฟอร์มเพิ่มความคิดเห็น -->
                        <form class="comment-form mb-6" id="comment-form" data-articleid="<%= post._id %>">
                            <textarea id="comment-input" class="comment-textarea w-full p-3 rounded-md border border-gray-300" placeholder="เขียนความคิดเห็น..."></textarea>
                            <button type="submit" class="comment-submit bg-blue-500 text-white px-4 py-2 rounded-md mt-2 hover:bg-blue-600">
                                ส่งความคิดเห็น
                            </button>
                        </form>
                    
                        <!-- รายการความคิดเห็น -->
                        <div class="comments-list space-y-6" id="comments">
                            <!-- ความคิดเห็นตัวอย่าง -->
                            <!-- <div class="comment-item">
                                <div class="flex items-start space-x-4">
                                    <img src="https://via.placeholder.com/150" alt="User Avatar" class="w-12 h-12 rounded-full">
                                    
                                    <div>
                                        <h3 class="text-sm font-semibold text-gray-800">Guest</h3>
                                
                                        <p class="text-xs text-gray-500 mb-2">1 ชั่วโมงที่ผ่านมา</p>
                                    
                                        <p class="text-gray-700 mb-2">
                                            นี่คือความคิดเห็นตัวอย่างที่แสดงให้เห็นว่าเป็นความคิดเห็นต้นแบบ
                                        </p>
                                        
                                        <button class="reply-button text-blue-500 text-sm hover:underline">
                                            ตอบกลับ
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="nested-comments ml-12 mt-4">
                                    <div class="flex items-start space-x-4">
                                        <img src="https://via.placeholder.com/150" alt="User Avatar" class="w-10 h-10 rounded-full">
                                        
                                        <div>
                                            <h3 class="text-sm font-semibold text-gray-800">User123</h3>
                                            <p class="text-xs text-gray-500 mb-2">30 นาทีที่ผ่านมา</p>
                                            <p class="text-gray-700">
                                                นี่คือความคิดเห็นที่ตอบกลับความคิดเห็นแรก
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                    <!-- Popup Modal (Hidden by default) -->
                <div id="popup-login" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
                    <div class="bg-white rounded-lg p-6 max-w-sm w-full">
                        <h2 class="text-lg font-semibold mb-4">จำเป็นต้องเข้าสู่ระบบ</h2>
                        <p class="text-gray-700 mb-4">โปรเข้าสู่ระบบก่อนแสดงความคิดเห็น.</p>
                        <a href="/auth/login" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">เข้าสู่ระบบ</a>
                        <button id="closePopup" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">ปิด</button>
                    </div>
                </div>
                <div id="popup-comment" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center">
                    <div class="bg-white p-6 rounded-md">
                        <p class="text-lg">ความคิดเห็นของคุณถูกส่งแล้ว! รีโหลดหน้าเว็บเพื่อดูคึวามคิดเห็นใหม่</p>
                        <button id="closeCommentPopup" class="mt-4 bg-red-500 text-white py-2 px-4 rounded">ปิด</button>
                    </div>
                </div>
                
                     
                </aside>
            </main>


            <% } else {%>
                <div class="flex items-center justify-center h-screen">
                    <div class="text-center">
                        <h1 class="text-6xl font-bold text-blue-500">404</h1>
                        <img src="/annight/error.png" alt=""
                            class="h-60 object-contain w-full pointer-events-none select-none">
                        <p class="text-xl text-gray-700 mt-4">ขออภัย, หน้าที่คุณกำลังหาไม่พบ</p>
                        <p class="text-gray-500 mt-2">หน้าที่คุณกำลังหาอาจถูกลบด้วยเนื่อกจากลิขสิทธิ์</p>
                        <p class="text-gray-500 mt-2">ลองใช้คำค้นหาใหม่เพื่อค้นหา เนื้อที่คุณต้องการดู</p>
                        <p class="text-gray-500 mt-2">ลหรือเนื้อหานี้อาจถูกปิดแล้ว ด้วยของครีเอเตอร์</p>
                        <div class="mt-6">
                            <a href="/"
                                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">กลับไปหน้าแรก</a>
                        </div>
                        <!-- <div class="mt-50 flex justify-center">
                    <img src="https://path-to-your-animation.gif" alt="Not Found Animation" class="w-64 h-64 animate-bounce-slow">
                </div> -->
                    </div>
                </div>
                <% } %>

                    <%- include('./Component/Footer') %>

                        <script src="/js/script.js" defer></script>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
                        <script src="/js/read.js" defer></script>
                        <script src="/js/loadImage.js" defer></script>             

                        <script defer type="text/javascript">
                            // ฟังก์ชันในการบันทึกเวลาอ่าน
                            function saveReadTime(articleId) {
                                const readArticles = JSON.parse(localStorage.getItem('readArticles')) || {};
                                const currentTime = new Date().toISOString();

                                // เก็บเวลาอ่านพร้อมวันที่หมดอายุ (1 วัน)
                                readArticles[articleId] = {
                                    readAt: currentTime,
                                    expireAt: new Date().getTime() + 24 * 60 * 60 * 1000 // เพิ่มเวลา 1 วัน
                                };
                                localStorage.setItem('readArticles', JSON.stringify(readArticles));

                                // อัปเดตไปยังเซิร์ฟเวอร์
                                fetch(`/api/v2/${articleId}/read`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ readAt: currentTime }),
                                }).catch((err) => console.error('Error updating read time:', err));
                            }

                            // ฟังก์ชันตรวจสอบและลบข้อมูลที่หมดอายุ
                            function checkExpiredArticles() {
                                const readArticles = JSON.parse(localStorage.getItem('readArticles')) || {};
                                const currentTime = new Date().getTime();

                                Object.keys(readArticles).forEach(articleId => {
                                    const article = readArticles[articleId];
                                    if (article.expireAt && currentTime > article.expireAt) {
                                        // ลบข้อมูลที่หมดอายุ
                                        delete readArticles[articleId];
                                    }
                                });

                                // บันทึกข้อมูลที่ยังไม่หมดอายุกลับไปใน localStorage
                                localStorage.setItem('readArticles', JSON.stringify(readArticles));
                            }

                            // เรียกใช้ฟังก์ชันเมื่อเริ่มโหลดหน้า
                            document.addEventListener('DOMContentLoaded', () => {
                                // เช็คว่ามีบทความที่หมดอายุหรือยัง
                                checkExpiredArticles();

                                const articleId = document.body.getAttribute('data-articleid');
                                saveReadTime(articleId);
                                console.log('Article ID:', articleId);
                            });
                        </script>
                        <script defer type="text/javascript">
                            document.addEventListener('DOMContentLoaded', () => {
                                const readArticles = JSON.parse(localStorage.getItem('readArticles')) || {};
                                const articles = document.querySelectorAll('article');

                                articles.forEach(article => {
                                    const articleId = article.getAttribute('data-articleid');
                                    const readArticle = readArticles[articleId];
                                    const readTimeElement = article.querySelector('#read-time');

                                    if (readTimeElement) {
                                        if (readArticle && readArticle.readAt) {
                                            const timeAgo = getTimeAgo(new Date(readArticle.readAt));
                                            readTimeElement.textContent = `อ่านเมื่อ ${timeAgo}`;
                                        } else {
                                            readTimeElement.textContent = 'ยังไม่ได้อ่าน';
                                        }
                                    }
                                });

                                // ฟังก์ชันสำหรับคำนวณเวลาแบบ Relative Time ภาษาไทย
                                function getTimeAgo(readTime) {
                                    const now = new Date();
                                    const diffMs = now - readTime;
                                    const diffSeconds = Math.floor(diffMs / 1000);
                                    const diffMinutes = Math.floor(diffSeconds / 60);
                                    const diffHours = Math.floor(diffMinutes / 60);
                                    const diffDays = Math.floor(diffHours / 24);

                                    if (diffSeconds < 60) return `${diffSeconds} วินาทีที่แล้ว`;
                                    if (diffMinutes < 60) return `${diffMinutes} นาทีที่แล้ว`;
                                    if (diffHours < 24) return `${diffHours} ชั่วโมงที่แล้ว`;
                                    return `${diffDays} วันที่แล้ว`;
                                }
                            });
                        </script>

</body>

</html>