<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เติมเหรียญ</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <style>
        body::-webkit-scrollbar {
           display: none;
       }

       section {
           overflow-y: auto;
           overflow-x: hidden;
       }
   </style>
</head>
<body class="overflow-hidden">

    <main class="bg-white flex flex-row w-full h-screen">
        <%- include('./Component/Sidebar') %>

        <section class="flex-1 w-full h-full p-2 md:p-5 overflow-y-scroll">
            <div class="header__profile z-4 p-5 rounded flex justify-between ">
                <!-- Left -->
                <div class="profile flex items-center">
                    <% if ( userID.user.profilePicture &&  userID.user.profilePicture.startsWith('http')) { %>
                        <img src="<%=  userID.user.profilePicture %>"
                        class="w-10 h-10 rounded-full " alt="profile__user">
                    <% } else { %>
                        <% if ( userID.user.profilePicture) { %>
                            <img src="/uploads/profiles/<%=  userID.user.profilePicture %>"
                        class="w-10 h-10 rounded-full " alt="profile__user">
                        <% } else { %>
                            <img src="/uploads/profiles/default.png" alt="Profile Picture" class="w-32 h-32 border-blue-500 border-4 rounded-full mb-4">
                        <% } %>
                    <% } %>        
                    
                    <div class="flex flex-col pl-5 profile-content" id="profile-content" data-useremail="user@example.com">
                        <h3><%= userID.user.username %></h3>
                        <p><%= userID.user.email %></p>
                    </div>
                </div>

                <!-- Right -->
                <div class="redeem__code">
                    <p class="text-md text-sky-600 underline-offset-auto cursor-pointer">ใส่รหัสแลก</p>
                </div>
            </div>

            <!-- Main Content -->
             <main class="mx-auto z-3 bg-white rounded-lg">
                <div class="rold p-6">
                    <p class="font-semibold">สิทธิ์ของการแลกคะแนน</p>
                    <p><i class="fa-solid fa-shop"></i> คุณสามารถใช้คะแนนซื้อสินค้าของเราได้</p>
                    <p><i class="fa-solid fa-rectangle-ad"></i> ลบโฆษณา คุณสามารถใช้คะแนนแลกเพ็คเกจปิดโฆษณาบนเว็บได้
                        หลักจากซื้อคะแนนแล้วสามารถแลกเพคเกจโฆษณา
                        <a href="#" class="underline underline-offset-2 text-sky-700 font-bold">ที่หน้านี้ กดทที่นี่</a>
                    </p>
                </div>

                <p class="p-5 font-semibold">เลือกรายการที่ต้องการเติม</p>
                <h2>กำลังอยู่ระหว่างพัฒนาหากคุณเติมเงิน จะไม่เรียงเก็บเงินในบัญชีของคุณ</h2>
                <div class="flex flex-wrap gap-3 p-3">
                    <div class="item relative flex flex-col rounded-lg cursor-pointer bg-sky-50 border border-sky-600 p-5 w-full sm:w-1/2 md:w-1/3 lg:w-1/4" onclick="selectItem(this, 'price_1PitVyDtyvwkHWIGhdcSHo9r', '20')">
                        <h2 class="selection-text hidden absolute top-2 right-2 bg-indigo-600 text-white px-2 py-1 rounded">กำลังเลือก</h2>
                        <h3 class="text-2xl">100 คะแนน</h3>
                        <p>20 บาท</p>
                    </div>
                    <div class="item relative flex flex-col rounded-lg cursor-pointer bg-sky-50 border border-sky-600 p-5 w-full sm:w-1/2 md:w-1/3 lg:w-1/4" onclick="selectItem(this, 'price_1PitWoDtyvwkHWIGI1DTqGml', '50')">
                        <h2 class="selection-text hidden absolute top-2 right-2 bg-indigo-600 text-white px-2 py-1 rounded">กำลังเลือก</h2>
                        <h3 class="text-2xl">500 คะแนน</h3>
                        <p>50 บาท</p>
                    </div>
                    <div class="item relative flex flex-col rounded-lg cursor-pointer bg-sky-50 border border-sky-600 p-5 w-full sm:w-1/2 md:w-1/3 lg:w-1/4" onclick="selectItem(this, 'price_1PitX5DtyvwkHWIG4YPYU60q', '100')">
                        <h2 class="selection-text hidden absolute top-2 right-2 bg-indigo-600 text-white px-2 py-1 rounded">กำลังเลือก</h2>
                        <h3 class="text-2xl">2000 คะแนน</h3>
                        <p>100 บาท</p>
                    </div>
                </div>
                
                <div class="btn m-5">
                    <button id="payButton" class="hidden bg-sky-500 w-full text-white px-4 py-2 rounded" onclick="checkout()">ชำระเงิน</button>
                </div>
                
             </main>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/topcoin.js"></script>
</body>
</html>