<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio จัดการบทความ</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .progress-bar-bg {
            position: relative;
            background-color: #f3f4f6;
        }
    
        .progress-bar-fill {
            width: 0%;
            transition: width 0.3s ease-in-out;
        }
    </style>
</head>
<body class="bg-gray-100">

    <div class="flex-1 flex flex-col">
        <%- include('../../Component/Header') %>
        <main class="flex-grow md:p-6 mx-auto max-w-6xl">
            <!-- Dashboard Header -->
            <header class="mb-6">
                <h1 class="text-2xl font-bold text-gray-800">จัดการบทความ / การสร้างรายได้</h1>
                <p class="text-gray-600">ภาพรวมของบทความและเครื่องมือการจัดการของคุณ</p>
            </header>


            <nav class="bg-white shadow-lg mb-5">
                <div class=" px-4 py-4 flex items-center justify-between">
                    <ul class="flex space-x-4">
                        <li>
                            <a href="/dashboard/manage/articles" class="text-gray-600 hover:text-blue-500 font-medium">จัดการบทความ</a>
                        </li>
                        <li>
                            <a href="/dashboard/manage/memes" class="text-gray-600 hover:text-blue-500 font-medium">จัดการโพสต์มีม</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="flex justify-center mb-5">
                <div class="relative w-full max-w-lg overflow-hidden md:rounded-lg shadow-lg">
                    <div class="slides flex transition-transform duration-500">
                        <% if (Bannerlists.length > 0) { %>
                            <% Bannerlists.forEach(banner => { %>
                                <div class="slide w-full flex-shrink-0">
                                    <a href="<%= banner.link %>" target="_blank">
                                        <img src="<%= banner.imageUrl %>" alt="<%= banner.title %>" class="w-full h-auto md:rounded-lg">
                                    </a>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="slide w-full flex-shrink-0">
                                <a href="mailto:aninight.info@gmail.com" target="_blank" class="block">
                                    <img src="/annight/banner/b3-ads.svg" alt="ads ติดต่อโฆษณา" class="w-full h-auto md:rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300 ease-in-out">
                                </a>
                            </div>
                            
                        <% } %>
                    </div>
                    <button class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full hover:bg-gray-900 focus:outline-none">❮</button>
                    <button class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full hover:bg-gray-900 focus:outline-none">❯</button>
                </div>
                
            </div>


            <!-- Overview Section -->
            <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                <!-- Card 1: Total Articles -->
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">บทความทั้งหมด</h2>
                    <p class="text-gray-500">
                        <%= userDatas.articles.length %>
                    </p>
                </div>
                
                <!-- Card 2: Published Articles -->
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">บทความที่เผยแพร่</h2>
                    <p class="text-gray-500"  id="articles-count">
                        <%= userDatas.articles.filter(article => article.published).length %>
                    </p>
                </div>
                
                <!-- Card 3: Drafts -->
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">บทความที่ยังไม่เผยแพร่</h2>
                    <p class="text-gray-500">
                        <%= userDatas.articles.filter(article => !article.published).length %> 
                    </p>
                </div>   
                
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">คุณต้องมี 5 บทความถึงจะเปิดสร้างรายได้</h2>
                    <p class="text-gray-500" id="progress-info" 
                       data-total-articles="<%= userDatas.articles.length %>" 
                       data-published-articles="<%= publishedArticlesCount %>">
                       <!-- This will be updated dynamically -->
                    </p>
                    <p class="text-gray-700">เราต้องการ <span class="font-bold">5</span> บทความ</p>
                    <div class="mt-2 bg-gray-200 rounded-full">
                        <div id="article-bar"
                            class="bg-blue-500 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                            style="width: 0%">0%</div>
                    </div>
                    <p id="monetization-message" class="text-center text-2xl text-blue-600 font-medium mt-4"></p>
                    <!-- <p id="progress-text">0/5</p> -->
                </div>

                <div class="bg-white p-4 rounded-lg shadow">
                    <h3 class="text-xl font-semibold text-gray-800">ผู้ติดตาม</h3>
                    <p class="text-3xl text-gray-600" id="followers-count">
                        <%= userDatas.followers.length %> คน
                    </p>
                    <p class="text-gray-700">เราต้องการ <span class="font-bold">100</span>
                        ผู้ติดตามเพื่อเริ่มสร้างรายได้</p>
                    <div class="mt-2 bg-gray-200 rounded-full">
                        <div id="follower-bar"
                            class="bg-blue-500 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                            style="width: 0%">0%</div>
                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">รายได้จากบทความ</h2>
                    <p class="text-gray-500"><strong>ยอดทั้งหมด</strong> <%= userDatas.earnings.toFixed(2) %> บาท</p>
                    <% if (userDatas.role === 'user' || userDatas.username === 'Night'  ||userDatas.role === 'admin') { %>
                        <p class="notification text-red-500">
                            <strong>*โปรดทราบ:</strong> รายได้ของคุณอาจจะยังไม่เข้าบัญชีหากคุณยังไม่ผ่านกฎของเรา หากผ่านกฎแล้วให้เพิ่มข้อมูลชำระเงินเพื่อรับเงินจากผลงาน <strong> แล้วระบบจะเปิดให้อัตโนมัติ</strong>
                        </p> 
                    <% } %>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">ช่องทางการชำระเงิน</h2>
                    <button onclick="showAddPaymentPopup(event)"
                        class="bg-blue-400 text-white border-none outline-none rounded-lg px-4 py-2 flex items-center">
                        <img src="/annight/logo/bank/Bank-Logo-Transparent.png" alt="Bank-Logo" class="w-10">
                       <span class="pl-4"> เพิ่มการช่องทางการชำระเงิน</span>
                    </button>
                </div>

                <div id="bank-popup" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
                    <div class="bg-white rounded-lg shadow-lg w-80 p-6">
                        <h3 class="text-xl font-semibold text-gray-800">ช่องทางการชำระเงิน</h3>
                        <div class="mt-4 p-2">
                            <p class="text-gray-700">กรุณากรอกข้อมูลช่องทางการชำระเงินเพื่อรับรายได้</p>
                            <p class="text-yellow-400 font-light">เพิ่มได้ 1 ช่องทางการชำระเงิน เท่านั้น !!</p>
                            <form id="payment-form" action="/api/v2/save/truemoney/user/:userId" method="POST" enctype="multipart/form-data" class="mt-4 space-y-4" data-userid="<%= userDatas._id %>">
                                <div>
                                    <label for="payment-method" class="block text-gray-700">วิธีการชำระเงิน</label>
                                    <select id="payment-method" name="paymentMethod"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md">
                                        <option value="truemoney">true wallet</option>
                                        <option value="bank">บัญชีธนาคาร</option>
                                    </select>
                                </div>
                                <div id="truemoney-info" class="hidden">
                                    <label for="truemoneyname" class="block text-gray-700">ชื่อบัญชี TrueMoney</label>
                                    <input type="text" id="truemoneyname" name="name"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md">
                                    <label for="truemoney-account" class="block text-gray-700">เลขบัญชี TrueMoney</label>
                                    <input type="text" id="truemoney-account" name="truemoneynumber"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md">
                                </div>
                                <div id="bank-info" class="hidden">
                                    <p class="text-red-500">บัญชีธนาคารยังไม่ได้ให้บริการ</p>
                                    <label for="bank-account" class="block text-gray-700">เลขบัญชีธนาคาร</label>
                                    <input type="text" id="bank-account" name="banknumber"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md" readonly>
                                    <label for="name-account" class="block text-gray-700">ชื่อบัญชีธนาคาร</label>
                                    <input type="text" id="name-account" name="name"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md" readonly>
                                    <label for="bank-name" class="block text-gray-700 mt-2">ชื่อธนาคาร</label>
                                    <input type="text" id="bank-name" name="bankname"
                                        class="block w-full mt-1 p-2 border border-gray-300 rounded-md" readonly>
                                </div>
                                <button type="submit" class="bg-blue-500 w-full mb-2 text-white px-4 py-2 rounded-md">บันทึกข้อมูล</button>
                            </form>
                        </div>
                
                        <button onclick="hideAddPaymentPopup()" class="px-4 py-2 rounded-md bg-red-500 text-white hover:bg-red-700 w-full">
                            ยกเลิก
                        </button>
                    </div>
                </div>

                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700 mb-4">ช่องทางการชำระเงินที่บันทึก</h2>
                    <div class="space-y-4">
                       
                        <% if (userDatas.bank.truemoneywallet) { %>
                            <div class="flex items-center p-4 border border-gray-300 rounded-lg">
                                <div class="flex-shrink-0">
                                    <img src="/logo/playments/truemoney.png" alt="TrueMoney Logo" class="w-10 text-blue-600">
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-lg font-medium text-gray-800">TrueMoney</h3>
                                    <p class="text-gray-600">ชื่อบัญชี TrueMoney: <%= userDatas.bank.truemoneywallet.name %></p>
                                    <p class="text-gray-600">เลขบัญชี: <%= userDatas.bank.truemoneywallet.truemoneynumber %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="flex items-center p-4 border border-gray-300 rounded-lg">
                                <div class="flex-shrink-0">
                                    <img src="/logo/playments/truemoney.png" alt="TrueMoney Logo" class="w-10 text-blue-600">
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-lg font-medium text-gray-800">TrueMoney</h3>
                                    <p class="text-gray-600">เบอร์ TrueMoney: 08X-XXX-XXXX</p>
                                    <p class="text-gray-600">เลขบัญชี: 123-456-789</p>
                                </div>
                            </div>
                        <% } %>
                        
                        <% if (userDatas.bank.bankaccount) { %>
                            <div class="flex items-center p-4 border border-gray-300 rounded-lg mt-4">
                                <div class="flex-shrink-0">
                                    <img src="/annight/logo/bank/Bank-Logo-Transparent.png" alt="Bank-Logo" class="w-10">
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-lg font-medium text-gray-800">บัญชีธนาคาร</h3>
                                    <p class="text-gray-600">ชื่อบัญชีธนาคาร: <%= userDatas.bank.bankaccount.name %></p>
                                    <p class="text-gray-600">เลขบัญชี: <%= userDatas.bank.bankaccount.number %></p>
                                    <p class="text-gray-600">ชื่อธนาคาร: <%= userDatas.bank.bankaccount.bankname %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="flex items-center p-4 border border-gray-300 rounded-lg">
                                <div class="flex-shrink-0">
                                    <img src="/annight/logo/bank/Bank-Logo-Transparent.png" alt="Bank-Logo" class="w-10">
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-lg font-medium text-gray-800">บัญชีธนาคาร</h3>
                                    <p class="text-gray-600">เลขบัญชี: 456-789-123</p>
                                    <p class="text-gray-600">ชื่อบัญชี: นาย AniNight Animelove</p>
                                    <p class="text-gray-600">ชื่อธนาคาร: ธนาคารกสิกร</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                
               
                
             
            </section>

             <!-- สำหรับผู้ใช้ -->
              <h2 class="mb-5 text-2xl text-gray-800">แผงควบคุมผู้ใช้ทั่วไป</h2>
              <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">ยอดคะแนนทั้งหมด</h2>
                    <p class="text-gray-500">
                        <%= userDatas.points %>
                    </p>
                </div>

                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">ข้อความแจ้งเตือน</h2>
                    <p class="text-gray-500">
                        <a href="/notifications/<%= userDatas._id %>">ดูการแจ้งเตือน</a>
                    </p>
                </div>

                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold text-gray-700">รหัสแลกรับ</h2>
                    <p class="text-gray-500">
                        <a href="/dashboard/code/reward">แลกรับรางวัล</a>
                    </p>
                </div>
              </section> 
        </main>
    </div>

    <%- include('../../Component/Footer') %>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script> 
 <script>
    $(document).ready(function () {
        let currentIndex = 0;
        const slides = $('.slide');
        const totalSlides = slides.length;

        function showSlide(index) {
            const offset = -index * 100;
            $('.slides').css('transform', `translateX(${offset}%)`);
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }

        // เลื่อนสไลด์ทุก 5 วินาที
        setInterval(nextSlide, 5000);

        // ปุ่มสำหรับเลื่อนสไลด์
        $('.next').click(function () {
            nextSlide();
        });

        $('.prev').click(function () {
            currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            showSlide(currentIndex);
        });

        // เริ่มต้นการแสดงภาพแรก
        showSlide(currentIndex);
    });

</script>
    <script>
         function showAddPaymentPopup(event) {
            event.preventDefault();
            document.getElementById('bank-popup').classList.remove('hidden');
        }
    
        function hideAddPaymentPopup() {
            document.getElementById('bank-popup').classList.add('hidden');
        }
    
        const paymentMethodSelect = document.getElementById('payment-method');
    const paymentForm = document.getElementById('payment-form');
    const truemoneyInfo = document.getElementById('truemoney-info');
    const bankInfo = document.getElementById('bank-info');

    paymentMethodSelect.addEventListener('change', function () {
        const selectedMethod = paymentMethodSelect.value;

        if (selectedMethod === 'truemoney') {
            truemoneyInfo.classList.remove('hidden');
            bankInfo.classList.add('hidden');
            paymentForm.action = '/api/v2/save/truemoney/user/' + paymentForm.dataset.userid;
        } else if (selectedMethod === 'bank') {
            truemoneyInfo.classList.add('hidden');
            bankInfo.classList.remove('hidden');
            paymentForm.action = '/api/v2/save/bank/user/' + paymentForm.dataset.userid;
        } else {
            truemoneyInfo.classList.add('hidden');
            bankInfo.classList.add('hidden');
        }
    });


    paymentMethodSelect.dispatchEvent(new Event('change'));

    paymentForm.addEventListener('submit', function(event) {
        event.preventDefault(); 
        if (paymentMethodSelect.value) {
            this.submit();
        } else {
            alert("กรุณาเลือกช่องทางการชำระเงิน");
        }
    });
    </script>
   
    <!-- <script src="/js/script.js"></script> -->
    <script>
        // Function to update the progress bar
        function updateProgressBar(totalArticles, publishedArticles) {
            const progressBar = document.getElementById('progress-bar-article');
            const progressText = document.getElementById('progress-text');

            // Define the number of required articles
            const requiredArticles = 5;
            const progressPercentage = Math.min((publishedArticles / requiredArticles) * 100, 100);

            // Update the progress bar width and text
            progressBar.style.width = `${progressPercentage}%`;
            progressText.textContent = `${publishedArticles} / ${requiredArticles} บทความ`;
        }

        // Function to update the deadline progress bar
        function updateDeadlineBar(daysLeft) {
            const deadlineBar = document.getElementById('deadline-bar');

            const maxDays = 29;
            const progressPercentage = Math.max(((maxDays - daysLeft) / maxDays) * 100, 0);

            deadlineBar.style.width = `${progressPercentage}%`;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const progressInfo = document.getElementById('progress-info');
            const totalArticles = parseInt(progressInfo.getAttribute('data-total-articles'));
            const publishedArticles = parseInt(progressInfo.getAttribute('data-published-articles'));
            const daysLeft = parseInt(document.getElementById('days-left').textContent);

            updateProgressBar(totalArticles, publishedArticles);
            updateDeadlineBar(daysLeft);
        });
    </script>
     <script>
        // Set the target thresholds
        const followerTarget = 100;
        const articleTarget = 5;

        // Get the actual follower and article count from the data
        const actualFollowers = parseInt(document.getElementById('followers-count').textContent, 10);
        const actualArticles = parseInt(document.getElementById('articles-count').textContent, 10);

        // Calculate the percentages
        const followerPercent = Math.min((actualFollowers / followerTarget) * 100, 100);
        const articlePercent = Math.min((actualArticles / articleTarget) * 100, 100);

        // Update the follower progress bar
        const followerBar = document.getElementById('follower-bar');
        followerBar.style.width = `${followerPercent}%`;
        followerBar.textContent = `${Math.floor(followerPercent)}%`;

        // Update the article progress bar
        const articleBar = document.getElementById('article-bar');
        articleBar.style.width = `${articlePercent}%`;
        articleBar.textContent = `${Math.floor(articlePercent)}%`;

        // Check if the user meets the monetization requirements
        const monetizationMessage = document.getElementById('monetization-message');
        if (followerPercent === 100 && articlePercent === 100) {
            monetizationMessage.textContent = 'ยินดีด้วย! คุณผ่านเกณฑ์เพื่อเปิดการสร้างรายได้ เรากำลังตรวจสอบบัญชีคุณ คุณจะได้รับการแจ้งในกล่องข้อความหรืออีเมล';
        } else {
            monetizationMessage.textContent = 'ยังไม่ผ่านเกณฑ์การสร้างรายได้';
        }
    </script>
</body>
</html>