<!-- Sidebar Links -->
<div class="sidebar- bg-white h-screen overflow-y-auto">
    <a href="/admin" class="flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'Admin' ? 'bg-blue-300' : '' %>">
        <span class="icon hover:text-white">
            <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5 7C5 5.89543 5.89543 5 7 5H8C9.10457 5 10 5.89543 10 7V8C10 9.10457 9.10457 10 8 10H7C5.89543 10 5 9.10457 5 8V7Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M14 7C14 5.89543 14.8954 5 16 5H17C18.1046 5 19 5.89543 19 7V8C19 9.10457 18.1046 10 17 10H16C14.8954 10 14 9.10457 14 8V7Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M5 16C5 14.8954 5.89543 14 7 14H8C9.10457 14 10 14.8954 10 16V17C10 18.1046 9.10457 19 8 19H7C5.89543 19 5 18.1046 5 17V16Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M14 16C14 14.8954 14.8954 14 16 14H17C18.1046 14 19 14.8954 19 16V17C19 18.1046 18.1046 19 17 19H16C14.8954 19 14 18.1046 14 17V16Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </span>
        <p class="pl-4">Dashboard</p>
    </a>
    <% if (userID.user.role === 'admin' ) { %>
        <a href="/admin/mamage/rewards" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'AdminRewardManage' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg width="22px" height="22px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M506.160888 1008.161961c-206.686405 0-362.691087-102.947252-471.181652-94.23633 27.716568-39.595097 41.970803-87.109213 41.970803-136.207133 0-84.733507 51.473626-405.453792 357.939675-542.452827C362.034736 114.896577 316.896325 43.625403 306.6016 28.579266 343.029089-7.848223 422.219283 37.290187 454.687262 114.896577c-4.751412-61.768351 24.54896-93.444429 57.808842-95.820134 32.467979 2.375706 62.560253 34.051783 57.808841 95.820134 31.676077-77.60639 110.866271-122.7448 148.085662-86.317311-11.086627 15.046137-55.433136 86.317311-129.080015 206.686405 307.257951 136.207133 357.939675 457.719319 358.731577 542.452827-0.791902 48.306018 14.254235 95.820134 41.970802 136.207133-109.282467-8.710921-277.165678 94.23633-483.852083 94.23633z" fill="#C3A494" /><path d="M506.160888 1024c-116.409585 0-219.356836-32.467979-301.714638-58.600743-65.727861-21.381352-122.7448-38.803195-168.675112-35.635587-6.335215 0.791902-11.878529-2.375706-15.046137-7.91902-3.167608-5.543314-3.167608-11.878529 0.791902-16.62994 26.132764-37.219391 39.595097-81.565899 38.803195-126.70431 0.791902-107.698663 65.727861-411.789007 351.60446-549.579944C347.780501 123.607498 304.225894 52.336324 293.139267 38.082089c-4.751412-6.335215-3.95951-15.046137 1.583804-20.58945 15.046137-15.046137 35.635587-20.58945 59.392645-15.838039 31.676077 6.335215 64.144057 30.092274 88.693017 62.560253 4.751412-15.838039 11.878529-26.924666 18.213745-34.843685C473.692909 14.325031 491.114751 4.822208 510.120398 4.030306h2.375706c19.005646 1.583804 36.427489 10.294725 49.09792 25.340862 6.335215 7.919019 13.462333 19.005646 18.213744 34.843685C605.940532 31.746873 638.408512 7.989815 670.084589 1.6546c23.757058-4.751412 44.346508 0.791902 59.392645 15.838039 5.543314 5.543314 6.335215 14.254235 1.583804 20.58945-8.710921 11.878529-44.346508 68.103567-118.78529 190.848367 285.084697 136.999035 350.812558 441.089379 351.60446 548.788042-0.791902 45.930312 12.670431 89.484919 38.803194 126.70431 3.167608 4.751412 3.95951 11.878529 0.791902 16.62994-3.167608 5.543314-8.710921 7.919019-15.046136 7.91902-45.930312-3.95951-105.322958 15.046137-174.218426 35.635587-90.276821 28.50847-191.640269 59.392645-308.049854 59.392645zM63.487706 898.087592c44.346508 3.167608 95.028232 19.005646 151.25327 37.219391 84.733507 26.924666 179.76174 57.808841 291.419912 57.808841 111.658173 0 210.645915-30.092274 297.755128-57.016939 58.600743-18.213745 111.658173-34.051783 156.796584-37.219391-19.797548-37.219391-30.092274-77.60639-29.300372-120.369094-0.791902-103.739154-64.935959-401.494282-349.228754-527.40669-3.95951-1.583804-7.127117-5.543314-8.710921-9.502823-1.583804-3.95951-0.791902-8.710921 1.583804-12.670431C632.865198 133.110321 675.627903 63.422951 696.217353 33.330677c-5.543314-1.583804-12.670431-2.375706-19.797548-0.791902-30.092274 5.543314-71.271174 38.011293-92.652527 88.693017-2.375706 7.127117-10.294725 11.086627-18.213745 8.710922-7.919019-1.583804-12.670431-8.710921-11.878529-16.629941 2.375706-26.924666-3.167608-49.889822-15.046136-64.144057-7.127117-8.710921-16.629941-13.462333-26.132764-14.254235-10.294725 0.791902-19.005646 6.335215-26.132764 14.254235-11.878529 14.254235-17.421843 36.427489-15.046137 64.144057 0.791902 7.919019-4.751412 15.046137-11.878529 16.629941-7.919019 1.583804-15.046137-2.375706-18.213745-9.502824-22.173254-49.889822-63.352155-81.565899-92.652526-87.901115-7.919019-1.583804-14.254235-1.583804-19.797549 0.791902 19.797548 30.092274 61.768351 98.19584 120.369095 194.015975 2.375706 3.95951 3.167608 8.710921 1.583804 12.670431s-4.751412 7.919019-8.710922 9.502823C157.724036 376.224216 93.579979 673.187442 92.788077 776.926596c0 42.762705-10.294725 83.941605-29.300371 121.160996z" fill="#131313" /><path d="M382.624186 196.462476c-16.629941 0-30.092274 13.462333-30.092273 30.092274s13.462333 30.092274 30.092273 30.092273h58.600743v-60.976449h-58.600743z" fill="#F6EAC9" /><path d="M441.224929 273.276964h-58.600743c-25.340862 0-45.930312-20.58945-45.930312-45.930312s20.58945-45.930312 45.930312-45.930312h58.600743c8.710921 0 15.838039 7.127117 15.838039 15.838038v60.976449c0 7.919019-7.127117 15.046137-15.838039 15.046137z m-58.600743-60.976449c-7.919019 0-14.254235 6.335215-14.254235 14.254235s6.335215 14.254235 14.254235 14.254235h42.762705v-29.300372h-42.762705z" fill="#131313" /><path d="M647.911335 196.462476h-52.265528v60.976449h52.265528c16.629941 0 30.092274-13.462333 30.092273-30.092273s-12.670431-30.884176-30.092273-30.884176z" fill="#F6EAC9" /><path d="M648.703237 273.276964h-52.265528c-8.710921 0-15.838039-7.127117-15.838039-15.838039v-60.976449c0-8.710921 7.127117-15.838039 15.838039-15.838038h52.265528c25.340862 0 45.930312 20.58945 45.930312 45.930312s-20.58945 46.722214-45.930312 46.722214z m-36.427489-31.676077h36.427489c7.919019 0 14.254235-6.335215 14.254235-14.254235s-6.335215-14.254235-14.254235-14.254235h-36.427489v28.50847z" fill="#131313" /><path d="M441.224929 196.462476h155.21278v60.976449H441.224929z" fill="#F6EAC9" /><path d="M596.437709 273.276964H441.224929c-8.710921 0-15.838039-7.127117-15.838038-15.838039v-60.976449c0-8.710921 7.127117-15.838039 15.838038-15.838038h155.21278c8.710921 0 15.838039 7.127117 15.838039 15.838038v60.976449c0 8.710921-7.127117 15.838039-15.838039 15.838039z m-139.374741-31.676077h123.536702v-29.300372H457.062968v29.300372z" fill="#131313" /><path d="M514.079908 196.462476h82.357801v60.976449H514.079908z" fill="#F6EAC9" /><path d="M596.437709 273.276964H514.079908c-8.710921 0-15.838039-7.127117-15.838039-15.838039v-60.976449c0-8.710921 7.127117-15.838039 15.838039-15.838038h82.357801c8.710921 0 15.838039 7.127117 15.838039 15.838038v60.976449c0 8.710921-7.127117 15.838039-15.838039 15.838039z m-66.519763-31.676077h50.681724v-29.300372h-50.681724v29.300372z" fill="#131313" /><path d="M514.079908 622.505718m-237.570581 0a237.570581 237.570581 0 1 0 475.141162 0 237.570581 237.570581 0 1 0-475.141162 0Z" fill="#9A7867" /><path d="M514.079908 875.914338c-139.374741 0-253.40862-114.033879-253.40862-253.40862s114.033879-253.40862 253.40862-253.40862 253.40862 114.033879 253.408619 253.40862c0 140.166643-114.033879 253.40862-253.408619 253.40862z m0-475.141162c-121.952898 0-221.732542 99.779644-221.732543 221.732542s99.779644 221.732542 221.732543 221.732542 221.732542-99.779644 221.732542-221.732542-99.779644-221.732542-221.732542-221.732542z" fill="#131313" /><path d="M514.079908 622.505718m-176.594132 0a176.594132 176.594132 0 1 0 353.188263 0 176.594132 176.594132 0 1 0-353.188263 0Z" fill="#FFFFFF" /><path d="M514.079908 814.937889c-106.114859 0-192.432171-86.317311-192.432171-192.432171s86.317311-192.432171 192.432171-192.43217 192.432171 86.317311 192.43217 192.43217c-0.791902 106.114859-87.109213 192.432171-192.43217 192.432171z m0-352.396362c-88.693017 0-160.756093 72.063076-160.756094 160.756093S425.386891 784.053713 514.079908 784.053713s160.756093-72.063076 160.756093-160.756093-72.854978-160.756093-160.756093-160.756093z" fill="#131313" /><path d="M517.247515 735.747695c-25.340862 0-52.265528-9.502823-71.271174-34.051783-5.543314-7.127117-3.95951-16.629941 2.375706-22.173254 7.127117-5.543314 16.629941-3.95951 22.173254 2.375705 19.005646 24.54896 48.306018 25.340862 67.311665 19.005647 15.838039-5.543314 25.340862-15.838039 25.340862-26.924666 0-10.294725-24.54896-17.421843-45.930313-23.757058-33.259881-10.294725-75.230684-22.173254-75.230684-61.768351 0-19.005646 11.878529-36.427489 32.46798-46.722214 25.340862-12.670431 68.103567-17.421843 108.490565 11.878529 7.127117 5.543314 8.710921 15.046137 3.167608 22.173254-5.543314 7.127117-15.046137 8.710921-22.173254 3.167608-26.924666-19.797548-57.016939-19.005646-75.230684-9.502824-9.502823 4.751412-15.838039 11.878529-15.838039 19.005647 0 15.046137 22.173254 22.173254 52.265528 31.676077 32.467979 9.502823 68.103567 20.58945 68.103566 53.849332 0 24.54896-18.213745 46.722214-46.722214 57.016939-7.919019 2.375706-18.213745 4.751412-29.300372 4.751412z" fill="#131313" /><path d="M515.663711 563.113073c-8.710921 0-15.838039-7.127117-15.838038-15.838039v-34.843685c0-8.710921 7.127117-15.838039 15.838038-15.838039s15.838039 7.127117 15.838039 15.838039v34.843685c0 9.502823-7.127117 15.838039-15.838039 15.838039z" fill="#131313" /><path d="M515.663711 765.839969c-8.710921 0-15.838039-7.127117-15.838038-15.838039v-26.132764c0-8.710921 7.127117-15.838039 15.838038-15.838039s15.838039 7.127117 15.838039 15.838039v26.132764c0 8.710921-7.127117 15.838039-15.838039 15.838039z" fill="#131313" /></svg>
            </span>
            <p class="pl-4">จัดการรหัสแลกรับ</p>
        </a>
        <a href="/admin/mamage/banner" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'Managebanner' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg width="22px" height="22px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#E8E8E8" /><path d="M876.8 603.2z" fill="" /><path d="M438.4 153.6l-17.6 3.2c-97.6 22.4-168-3.2-203.2-22.4V496c49.6 46.4 144 51.2 289.6 17.6 137.6-32 283.2 17.6 337.6 40h1.6V164.8c-179.2-62.4-291.2-36.8-408-11.2z" fill="#F2385A" /><path d="M865.6 139.2C672 68.8 548.8 96 430.4 123.2l-17.6 3.2c-90.208 19.552-153.568-4.704-183.44-20.976 16.768-9.856 28.144-27.872 28.144-48.72C257.504 25.392 232.112 0 200.8 0S144.096 25.392 144.096 56.704c0 25.424 16.848 46.688 39.904 53.872V1024h32V536c60.8 38.4 160 40 297.6 8 158.4-36.8 337.6 46.4 339.2 46.4l22.4 11.2V142.4l-9.6-3.2z m-19.2 414.4h-1.6c-54.4-22.4-200-72-337.6-40-145.6 33.6-240 28.8-289.6-17.6V134.4c35.2 19.2 105.6 44.8 203.2 22.4l17.6-3.2c116.8-25.6 228.8-51.2 408 11.2v388.8z" fill="" /><path d="M200.8 56.704m-23.872 0a23.872 23.872 0 1 0 47.744 0 23.872 23.872 0 1 0-47.744 0Z" fill="#F2385A" /></svg>
            </span>
            <p class="pl-4">จัดการแบนเนอร์</p>
        </a>
        <a href="/admin/manage/apikey" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'Manageapi' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg width="22px" height="22px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.3,19a2.42,2.42,0,0,1-2.5.56l-2.35,2.35a.34.34,0,0,1-.49,0l-1-1a.36.36,0,0,1,0-.49l2.36-2.35a2.39,2.39,0,0,1,3.39-2.91L19.12,16.8l1,1,1.62-1.62A2.39,2.39,0,0,1,21.3,19ZM22,8v5.76A4.47,4.47,0,0,0,19.5,13a4.57,4.57,0,0,0-1.29.19V9.29H16.66V14A4.5,4.5,0,0,0,15,17.5a4.07,4.07,0,0,0,0,.5H4a2,2,0,0,1-2-2V8A2,2,0,0,1,4,6H20A2,2,0,0,1,22,8ZM11,15,9.09,9.27H7L5.17,15h1.7l.29-1.07H9L9.29,15Zm4.77-3.89a1.67,1.67,0,0,0-.55-1.35,2.43,2.43,0,0,0-1.62-.47h-2V15h1.54V13.11h.44a2.75,2.75,0,0,0,1-.17,1.82,1.82,0,0,0,.67-.44,1.63,1.63,0,0,0,.36-.64A2.36,2.36,0,0,0,15.75,11.11Zm-7.3.62-.12-.44-.15-.58c0-.21-.08-.37-.11-.5a4.63,4.63,0,0,1-.1.48c0,.19-.08.38-.13.57s-.08.34-.12.47l-.24.93H8.69Zm5.59-1a.63.63,0,0,0-.5-.17h-.4v1.31h.31a.9.9,0,0,0,.37-.07.59.59,0,0,0,.27-.22.75.75,0,0,0,.11-.42A.57.57,0,0,0,14,10.71Z"/><rect width="24" height="24" fill="none"/></svg>
            </span>
            <p class="pl-4">จัดการรหัส API KEY</p>
        </a>
        <a href="/admin/manage/playments" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'ManagePayment' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg fill="#000000" height="22px" width="22px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 490.3 490.3" xml:space="preserve">
           <g>
               <path d="M199.821,96.9c-10.2,0-18.4-8.3-18.4-18.4s8.3-18.4,18.4-18.4c10.2,0,18.4,8.3,18.4,18.4S210.021,96.9,199.821,96.9z
                    M199.821,108.7c36.8,0,66.7,29.9,66.7,66.7c0,20.3-9.1,38.4-23.4,50.7c-6.5-3.2-13.8-5-21.9-5c-1.7,0-3.5,0.1-4.9,0.2
                   c-3.9,0.3-17.3,2.5-27.2,16.9c-0.6,0.9-1.2,1.8-1.7,2.7c-30.9-5.8-54.3-32.9-54.3-65.5C133.121,138.6,162.921,108.7,199.821,108.7z
                    M176.921,189.9c0.3,5.7,2.1,10.2,5.6,13.3c3.7,3.4,8.4,5.4,13.9,6v7.4c0,1,0.8,1.8,1.8,1.8h6.6c1,0,1.8-0.8,1.8-1.8V209
                   c4.5-0.8,8.1-2.6,10.9-5.3c3.3-3.2,5-7.4,5-12.7c0-5.5-1.6-9.8-4.9-12.7c-3.3-3-8.4-5.9-15.4-8.9c-3-1.3-5.1-2.6-6.2-3.9
                   c-1.1-1.3-1.7-3-1.7-5.1s0.5-3.7,1.5-5.1c1-1.3,2.6-2,4.8-2c2.1,0,3.8,0.8,5.1,2.4c1,1.3,1.6,3.1,1.8,5.5c0.1,1.1,1.1,1.9,2.1,1.8
                   l10.8-0.2c1.2,0,2.2-1,2.1-2.2c-0.3-4.7-1.8-8.7-4.6-11.9c-2.9-3.3-6.7-5.5-11.4-6.4v-8.1c0-1-0.8-1.8-1.8-1.8h-6.6
                   c-1,0-1.8,0.8-1.8,1.8v7.9c-5,0.7-9.1,2.6-12.2,5.6c-3.4,3.3-5.2,7.5-5.2,12.6c0,5.6,1.6,9.9,4.9,12.8c3.2,2.9,8.4,5.8,15.5,8.6
                   c2.9,1.3,5,2.6,6.1,3.9c1.1,1.3,1.7,3.2,1.7,5.5c0,2.1-0.6,3.7-1.7,5c-1.1,1.3-2.8,1.9-4.9,1.9c-2.6,0-4.7-0.8-6.3-2.5
                   c-1.3-1.3-2.1-3.4-2.4-6.2c-0.1-1.1-1.1-1.9-2.1-1.9l-10.8,0.2C177.821,187.7,176.921,188.7,176.921,189.9z M386.721,273
                   c-5.5-4.3-63-68.1-78.4-77.1V30.4c0-16.8-13.6-30.4-30.4-30.4h-156.2c-16.8,0-30.4,13.6-30.4,30.4v289.7
                   c0,16.8,13.6,30.4,30.4,30.4h50.1h17.9l-2.8-23.8c-0.9-0.8-1.5-1.3-2.4-2.1h-10h-20c0.9-3.7,1.2-7.6,0.7-11.6
                   c-1.6-12.6-11.2-23.1-23.5-25.9c-5.1-1.2-9.9-1-14.4,0.1V61.5c5.1,1,10.7,0.7,16.4-1.5c6.1-2.3,11.2-6.7,14.8-12.1
                   c5.1-7.8,5.9-15.3,4.7-22.1h93.3c-1.2,6.7-0.4,14,4.5,21.8c3.5,5.6,8.7,10,14.8,12.3c5.8,2.2,11.4,2.5,16.6,1.5v220.1l0,0v63.2
                   c-10.6-7.8-22.5-32.2-22.5-32.2s-5.8-65-38.7-65c-0.9,0-1.7,0-2.6,0.1c0,0-24.9,2.1-4.3,73.4l9.2,79.1c0,0,10.3,43,38.7,72.7v8.9
                   c0,4.7,3.8,8.6,8.6,8.6h92.6c4.4,0,8-3.3,8.5-7.6c3.3-30.5,15.9-142.9,23.4-162.2c1.4-3.7,2.7-7.4,3.2-11.3
                   C399.721,299.2,399.421,282.8,386.721,273z"/>
           </g>
           </svg>
            </span>
            <p class="pl-4">จัดการลิ้งชำระเงิน</p>
        </a>
        <a href="/admin/manage/survey" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'getListsSurvey' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg fill="#000000" width="22px" height="22px" viewBox="0 0 52 52" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.23,3H40.77A3.29,3.29,0,0,1,44,6.33V9.67A3.29,3.29,0,0,1,40.77,13H5.23A3.29,3.29,0,0,1,2,9.67V6.33A3.29,3.29,0,0,1,5.23,3ZM5.15,18h19.7A3.26,3.26,0,0,1,28,21.33v3.34A3.26,3.26,0,0,1,24.85,28H5.15A3.26,3.26,0,0,1,2,24.67V21.33A3.26,3.26,0,0,1,5.15,18ZM39,28A11,11,0,1,1,28,39,11,11,0,0,1,39,28Zm7,7.92a.84.84,0,0,0,0-1l-1.12-1a.77.77,0,0,0-1.12,0l-6,6.72-2.72-2.72a.77.77,0,0,0-1.12,0l-1.12,1a.68.68,0,0,0,0,1l3.84,3.76a1.58,1.58,0,0,0,1.12.48,1.45,1.45,0,0,0,1.12-.48ZM5.2,33H23.76a16.14,16.14,0,0,0-1,5,17.11,17.11,0,0,0,.48,5H5.2A3.28,3.28,0,0,1,2,39.67V36.33H2A3.28,3.28,0,0,1,5.2,33Z" />
                  </svg>
            </span>
            <p class="pl-4">จัดการแบบสำรวจ</p>
        </a>
        <a href="/admin/manage/videos" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'ManageVideos' ? 'bg-blue-300' : '' %>">
            <span class="icon">
                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98966 10.91C10.4482 10.609 11.0657 10.5541 11.6048 10.8884L14.9764 12.9785C15.5136 13.3116 15.75 13.8874 15.75 14.4102C15.75 14.933 15.5136 15.5088 14.9764 15.8418L11.6048 17.932C11.0657 18.2662 10.4482 18.2114 9.98966 17.9103C9.539 17.6144 9.25 17.0934 9.25 16.5003V12.32C9.25 11.727 9.539 11.2059 9.98966 10.91ZM10.8129 12.1639C10.7945 12.176 10.75 12.2203 10.75 12.32V16.5003C10.75 16.6 10.7945 16.6443 10.8129 16.6564L10.8142 16.6572L14.186 14.5669C14.2072 14.5538 14.25 14.5085 14.25 14.4102C14.25 14.3118 14.2072 14.2665 14.186 14.2534L10.8145 12.1633L10.8129 12.1639Z" fill="#1C274C"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69935 1.25001C8.4795 1.24995 8.31094 1.2499 8.16359 1.26571C6.80943 1.41104 5.77295 2.52304 5.71005 3.87007C4.51917 4.22559 3.67058 5.3275 3.65528 6.5913C3.05445 6.77164 2.53621 7.05606 2.11196 7.51432C1.45997 8.21857 1.25792 9.08649 1.25023 10.1003C1.24283 11.075 1.41651 12.3067 1.63219 13.8363L2.07118 16.9499C2.23979 18.146 2.37676 19.1176 2.58989 19.879C2.81286 20.6756 3.14152 21.331 3.75003 21.8349C4.35372 22.3347 5.06993 22.5502 5.91647 22.6518C6.73501 22.75 7.76474 22.75 9.04682 22.75H14.9531C16.2352 22.75 17.265 22.75 18.0835 22.6518C18.9301 22.5502 19.6463 22.3347 20.25 21.8349C20.8585 21.331 21.1871 20.6756 21.4101 19.879C21.6232 19.1176 21.7602 18.146 21.9288 16.9499L22.3678 13.8363C22.5835 12.3067 22.7572 11.075 22.7498 10.1003C22.7421 9.08649 22.54 8.21857 21.888 7.51432C21.4637 7.05595 20.9453 6.77151 20.3443 6.59118C20.3289 5.3275 19.4805 4.22571 18.2897 3.87013C18.2268 2.52307 17.1903 1.41104 15.8362 1.26571C15.6888 1.2499 15.5203 1.24995 15.3004 1.25001H8.69935ZM18.8105 6.32781C18.6734 5.72018 18.1306 5.25001 17.4617 5.25001H6.53787C5.86896 5.25001 5.32618 5.72019 5.18902 6.32785C6.11481 6.24999 7.24973 6.25 8.61594 6.25001H15.384C16.75 6.25 17.8848 6.24999 18.8105 6.32781ZM16.7677 3.75001C16.6611 3.22633 16.2263 2.8162 15.6761 2.75715C15.6198 2.75111 15.5396 2.75001 15.2588 2.75001H8.74099C8.46013 2.75001 8.37993 2.75111 8.32365 2.75715C7.77344 2.8162 7.33862 3.22633 7.2321 3.75001H16.7677ZM3.21267 8.53336C3.51557 8.20618 3.97106 7.98917 4.85612 7.87145C5.75726 7.75159 6.96357 7.75001 8.67239 7.75001H15.3276C17.0364 7.75001 18.2427 7.75159 19.1439 7.87145C20.0289 7.98917 20.4844 8.20618 20.7873 8.53336C21.0832 8.85293 21.2436 9.28782 21.2498 10.1117C21.2563 10.9618 21.1002 12.0828 20.8738 13.6883L20.4509 16.6883C20.2731 17.9491 20.1486 18.821 19.9656 19.4747C19.7894 20.1042 19.582 20.4405 19.2934 20.6795C18.9999 20.9225 18.6058 21.0784 17.9048 21.1625C17.1861 21.2488 16.2465 21.25 14.9046 21.25H9.09536C7.75347 21.25 6.81393 21.2488 6.09519 21.1625C5.39417 21.0784 5.00014 20.9225 4.70664 20.6795C4.41795 20.4405 4.21058 20.1042 4.03437 19.4747C3.8514 18.821 3.7269 17.9491 3.54913 16.6883L3.12616 13.6883C2.89981 12.0828 2.74373 10.9618 2.75018 10.1117C2.75644 9.28782 2.91681 8.85293 3.21267 8.53336Z" fill="#1C274C"/>
                    </svg>
            </span>
            <p class="pl-4">จัดการวีดีโอ</p>
        </a>
    <% } %>
    <a href="/admin/manage/users" class="active flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'AdminManageUser' ? 'bg-blue-300' : '' %>">
        <span class="icon">
            <svg fill="#000000" width="22px" height="22px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M983.727 5.421 1723.04 353.62c19.765 9.374 32.414 29.252 32.414 51.162v601.525c0 489.6-424.207 719.774-733.779 887.943l-34.899 18.975c-8.47 4.517-17.731 6.889-27.105 6.889-9.262 0-18.523-2.372-26.993-6.89l-34.9-18.974C588.095 1726.08 164 1495.906 164 1006.306V404.78c0-21.91 12.65-41.788 32.414-51.162L935.727 5.42c15.134-7.228 32.866-7.228 48 0ZM757.088 383.322c-176.075 0-319.285 143.323-319.285 319.398 0 176.075 143.21 319.285 319.285 319.285 1.92 0 3.84 0 5.76-.113l58.504 58.503h83.689v116.781h116.781v83.803l91.595 91.482h313.412V1059.05l-350.57-350.682c.114-1.807.114-3.727.114-5.647 0-176.075-143.21-319.398-319.285-319.398Zm0 112.942c113.732 0 206.344 92.724 205.327 216.62l-3.953 37.271 355.426 355.652v153.713h-153.713l-25.412-25.299v-149.986h-116.78v-116.78H868.108l-63.812-63.7-47.209 5.309c-113.732 0-206.344-92.5-206.344-206.344 0-113.732 92.612-206.456 206.344-206.456Zm4.98 124.98c-46.757 0-84.705 37.948-84.705 84.706s37.948 84.706 84.706 84.706c46.757 0 84.706-37.948 84.706-84.706s-37.949-84.706-84.706-84.706Z"
                    fill-rule="evenodd" />
            </svg>
        </span>
        <p class="pl-4">จัดการผู้ใช้</p>
    </a>

    <a href="/admin/add/anime" class="flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'AdminAddAnime' ? 'bg-blue-300' : '' %>">
        <span class="icon">
            <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
        <p class="pl-4">เพิ่มอนิเมะ</p>
    </a>

    <a href="/admin/manage/anime" class="flex items-center px-4 py-2 hover:bg-blue-200 <%= active === 'AdminManageAnime' ? 'bg-blue-300' : '' %>">
        <span class="icon">
            <svg width="22px" height="22px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">

                <rect x="0" fill="none" width="20" height="20" />

                <g>

                    <path d="M6 15V2h10v13H6zm-1 1h8v2H3V5h2v11z" />

                </g>

            </svg>
        </span>
        <p class="pl-4">จัดการอนิเมะ</p>
    </a>

    <a href="/admin/add/anime/schedule/time" class="flex items-center px-4 py-2 hover:bg-blue-200">
        <span class="icon">
            <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
        <p class="pl-4">เพิ่มอนิเมะลงตาราง</p>
    </a>

    <a href="/" target="_blank" class="flex items-center px-4 py-2 hover:bg-blue-200">
        <span class="icon">
            <svg width="22px" height="22px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="m 8 1 c -0.207031 0 -0.410156 0.066406 -0.578125 0.1875 l -7 5 c -0.453125 0.320312 -0.554687 0.941406 -0.234375 1.394531 c 0.1875 0.261719 0.488281 0.417969 0.8125 0.417969 v 4 c 0 1.644531 1.355469 3 3 3 h 8 c 1.644531 0 3 -1.320312 3 -3 v -4 c 0.324219 0 0.625 -0.15625 0.816406 -0.417969 c 0.320313 -0.453125 0.214844 -1.074219 -0.234375 -1.394531 l -7 -5 c -0.167969 -0.121094 -0.375 -0.1875 -0.582031 -0.1875 z m 0 2.230469 l 5 3.570312 v 5.199219 c 0 0.5625 -0.4375 1 -1 1 h -3 v -4 c 0 -0.554688 -0.445312 -1 -1 -1 h -1 c -0.554688 0 -1 0.445312 -1 1 v 4 h -2 c -0.5625 0 -1 -0.4375 -1 -1 v -5.199219 z m 0 0" fill="#2e3436"/>
            </svg>
        </span>
        <p class="pl-4">กลับไปยังหน้าแรก</p>
    </a>
</div>