<header class="flex fixed top-0 left-0 w-full h-16 bg-white z-50 shadow-md">
    <div class="header_Content flex items-center justify-between w-full h-full px-4">
        <div class="left-content flex items-center">
            <button class="btn_menus cursor-pointer" id="toggle-sidebar-2">
                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <a href="/" class="logo">
                <!-- <img src="/images/logo.png" alt="AniNight" class="w-20 h-10"> -->
                <h3 class=" text-base  ">AniNight</h3>
            </a>
        </div>

        <!-- Center Header -->
        <div class="center-content hidden md:flex items-center">
            <div class="search hidden md:block">
                <div class="bg-gray-100 w-64 h-10 flex items-center rounded-lg px-4">
                    <div id="searchFormContainer" class="w-full h-full">
                        <form id="searchForm" action="/search" method="GET" class="w-full h-full flex items-center">
                            <input type="text" name="q" placeholder="ค้นหา..." class="w-full bg-transparent outline-none" id="searchInput">
                            <button type="submit" class="ml-2">
                                <i class="fas fa-search" id="searchIcon"></i>
                            </button>
                        </form>

                         <!-- ผลลัพธ์การค้นหา -->
                            <div id="searchResults" class="top-28 h-64 w-full overflow-x-auto transform group-hover:block p-4 bg-white rounded-lg shadow-lg z-10 hidden">
                                <!-- ผลลัพธ์จะถูกเติมที่นี่ -->
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- right Header -->
        <div class="right-content flex items-center ">
            <div class="hidden lg:block">
                <div class="list-menu flex items-center gap-2">
                    <a href="/" class="nav-item hover:text-blue-400 translate-x-1">หน้าหลัก</a>
                    <a href="/manga" class="nav-item hover:text-blue-400 translate-x-1">ตารางอนิเมะ</a>
                    <a href="/news" class="nav-item hover:text-blue-400 translate-x-1">โพสต์ภาพ&มีม</a>
                    <a href="/forum" class="nav-item hover:text-blue-400 translate-x-1">ข้อความเสียง</a>
                </div>
            </div>
            <div class="icons flex flex-wrap items-center gap-4 pl-5 m-0">
                <% if(userID) {%>
                    <div class="user">
                        <button class="relative group hidden md:block">
                            <% if (userID.user.profilePicture) { %>
                                <% if (userID.user.profilePicture.startsWith('http')) { %>
                                    <a href="/@<%= userID.user.username %>">
                                        <img src="<%= userID.user.profilePicture %>"
                                            class="w-10 h-10 border-blue-500 border-2 rounded-full"
                                            alt="Profile Picture">
                                    </a>
                                    <% } else { %>
                                        <a href="/@<%= userID.user.username %>">
                                            <img src="/uploads/profiles/<%= userID.user.profilePicture %>"
                                                class="w-10 h-10 border-blue-500 border-2 rounded-full"
                                                alt="Profile Picture">
                                        </a>
                                        <% } %>
                                            <% } else { %>
                                                <a href="/@<%= userID.user.username %>">
                                                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M22 12C22 6.49 17.51 2 12 2C6.49 2 2 6.49 2 12C2 14.9 3.25 17.51 5.23 19.34C5.23 19.35 5.23 19.35 5.22 19.36C5.32 19.46 5.44 19.54 5.54 19.63C5.6 19.68 5.65 19.73 5.71 19.77C5.89 19.92 6.09 20.06 6.28 20.2C6.35 20.25 6.41 20.29 6.48 20.34C6.67 20.47 6.87 20.59 7.08 20.7C7.15 20.74 7.23 20.79 7.3 20.83C7.5 20.94 7.71 21.04 7.93 21.13C8.01 21.17 8.09 21.21 8.17 21.24C8.39 21.33 8.61 21.41 8.83 21.48C8.91 21.51 8.99 21.54 9.07 21.56C9.31 21.63 9.55 21.69 9.79 21.75C9.86 21.77 9.93 21.79 10.01 21.8C10.29 21.86 10.57 21.9 10.86 21.93C10.9 21.93 10.94 21.94 10.98 21.95C11.32 21.98 11.66 22 12 22C12.34 22 12.68 21.98 13.01 21.95C13.05 21.95 13.09 21.94 13.13 21.93C13.42 21.9 13.7 21.86 13.98 21.8C14.05 21.79 14.12 21.76 14.2 21.75C14.44 21.69 14.69 21.64 14.92 21.56C15 21.53 15.08 21.5 15.16 21.48C15.38 21.4 15.61 21.33 15.82 21.24C15.9 21.21 15.98 21.17 16.06 21.13C16.27 21.04 16.48 20.94 16.69 20.83C16.77 20.79 16.84 20.74 16.91 20.7C17.11 20.58 17.31 20.47 17.51 20.34C17.58 20.3 17.64 20.25 17.71 20.2C17.91 20.06 18.1 19.92 18.28 19.77C18.34 19.72 18.39 19.67 18.45 19.63C18.56 19.54 18.67 19.45 18.77 19.36C18.77 19.35 18.77 19.35 18.76 19.34C20.75 17.51 22 14.9 22 12ZM16.94 16.97C14.23 15.15 9.79 15.15 7.06 16.97C6.62 17.26 6.26 17.6 5.96 17.97C4.44 16.43 3.5 14.32 3.5 12C3.5 7.31 7.31 3.5 12 3.5C16.69 3.5 20.5 7.31 20.5 12C20.5 14.32 19.56 16.43 18.04 17.97C17.75 17.6 17.38 17.26 16.94 16.97Z"
                                                            fill="#292D32" />
                                                        <path
                                                            d="M12 6.92969C9.93 6.92969 8.25 8.60969 8.25 10.6797C8.25 12.7097 9.84 14.3597 11.95 14.4197C11.98 14.4197 12.02 14.4197 12.04 14.4197C12.06 14.4197 12.09 14.4197 12.11 14.4197C12.12 14.4197 12.13 14.4197 12.13 14.4197C14.15 14.3497 15.74 12.7097 15.75 10.6797C15.75 8.60969 14.07 6.92969 12 6.92969Z"
                                                            fill="#292D32" />
                                                    </svg>
                                                </a>
                                                <% } %>

                                <div class="absolute right-1 transform hidden group-hover:block w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                                    <div class="flex items-center">
                                        <% if (userID.user.profilePicture) { %>
                                            <% if (userID.user.profilePicture.startsWith('http')) { %>
                                                <img src="<%= userID.user.profilePicture %>" class="w-10 h-10 rounded-full" alt="Profile Picture">
                                            <% } else { %>
                                                <img src="/uploads/profiles/<%= userID.user.profilePicture %>" class="w-10 h-10 rounded-full" alt="Profile Picture">
                                            <% } %>
                                        <% } %>
                                        
                                        <div class="ml-3">
                                            <h3 class="text-lg text-black font-semibold">
                                                <%= userID.user.username %>
                                            </h3>
                                            <p class="text-gray-500">@<%= userID.user.username %>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <p class="text-sm text-gray-700">
                                            <%= userID.user.bio %>.
                                        </p>
                                    </div>

                                    <div class="mt-4">
                                        <ul class="list-none">
                                            <li class="py-1">
                                                <a href="/@<%= userID.user.username %>" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                                    <span><%= userID.user.username %></span>
                                                </a>
                                            </li>
                                            <li class="py-1">
                                                <a href="#" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                                    <span>Event</span>
                                                </a>
                                            </li>
                                            <li class="py-1">
                                                <a href="/notifications/<%= userID.user._id %>" class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                                    <span>ข้อความแจ้งเตือน</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </button>
                    </div>
                    <div class="notification">
                        <button>
                            <a href="/notifications/<%= userID.user._id %>">
                                <i class="fas fa-bell"></i>
                            </a>
                        </button>
                    </div>
                    <% } else {%>
                        <div class="notification">
                            <button id="open-popup-login"
                                class="bg-blue-200 flex items-center rounded-lg text-white px-3 py-1">
                                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.00098 11.999L16.001 11.999M16.001 11.999L12.501 8.99902M16.001 11.999L12.501 14.999"
                                        stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827"
                                        stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                                <span>เข้าสู่ระบบ</span>
                            </button>
                        </div>
                        <% } %>
                            <div class="search md:hidden">
                                <button>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
            </div>
        </div>
</header>



<!-- Popup ที่จะถูกเปิด -->
<div id="popup-login" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50 hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <div class="flex justify-between items-center">
            <h2 class="text-sm font-semibold text-gray-800">เข้าสู่ระบบ หรือ สมัครสมาชิก</h2>
            <button id="close-popup-login" class="text-gray-600 text-xl">
                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z"
                        fill="#0F0F0F" />
                </svg>
            </button>
        </div>
        <div class="mt-4">
            <!-- login Form -->
            <form action="/api/v2/auth/login" method="POST">
                <div class="mb-4">
                    <label for="email" class="block text-sm font-semibold text-gray-800">อีเมล</label>
                    <input type="email" name="email" id="email"
                        class="w-full h-10 px-3 rounded-lg border border-gray-300 focus:outline-none " required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-semibold text-gray-800">รหัสผ่าน</label>
                    <div class="flex items-center relative">
                        <input type="password" name="password" id="password"
                            class="w-full h-10 px-3 rounded-lg border border-gray-300 focus:outline-none" required>
                        <!-- ปุ่มเพื่อแสดง/ซ่อนรหัสผ่าน -->
                        <button type="button" id="toggle-password"
                            class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-600">
                            <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex justify-between items-center">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">เข้าสู่ระบบ</button>
                    <a href="/auth/register" class="text-blue-500">สมัครสมาชิก</a>
                </div>
            </form>
            <!-- Google Login -->
            <div class="google-login mb-4 mt-5 w-full">
                <a href="/auth/google" target="_blank">
                    <button id="googleLogin"
                        class="login_button flex items-center border-2 px-4 py-2 rounded-lg w-full">
                        <img src="/logo/google_icon.png" alt="google icon" class="w-7 h-7">
                        <div class="login_text pl-5">
                            เข้าสู่ระบบ / สมัครด้วย Google
                        </div>
                    </button>
                </a>
            </div>

            <div class="flex items-center mb-4 mt-4">
                <div class="relative flex items-center">
                    <input type="checkbox" id="remember" class="custom-checkbox mr-2" required>
                    <label for="remember" class="text-sm text-gray-700">
                        กรุณายอมรับข้อกำหนดและเงื่อนไขของเรา โดยการคลิกที่ช่องนี้
                        เพื่อให้คุณสามารถเข้าถึงและใช้บริการต่างๆ ได้อย่างเต็มที่
                        <a href="https://ani-night.online/term" target="_blank" rel="noopener noreferrer"
                            class="text-blue-500 underline">อ่านข้อกำหนดและเงื่อนไข</a>
                        ที่เราได้กำหนดไว้
                    </label>
                    <div id="alertMessage"
                        class="absolute -top-5 bg-gray-200 p-2 rounded-lg -left-4 text-red-500 text-center mt-0 ml-2 hidden">
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-6">
        </div>
    </div>
</div>